.about-section{
    #about-banner-video{
        height: 840px!important;
        padding:  80px 0 0 0;
        @media(max-width: 768px){
            height: 70vh !important;
        }
        h3{
            padding-bottom: 11px;
        }
        #vid1{
            width: 100%;
            height: 70vh;
            background: url("../images/about/video.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 12px;
            @media(max-width: 768px){
                height: 50vh;
            }
            @media(max-width: 680px){
                height: 50vh;
            }
           
            .icon{
                cursor: pointer;
                img{
                    @media(max-width: 1440px){
                        max-width: 80px;
                    }
                    @media(max-width: 768px){
                        max-width: 60px;
                    }
                    @media(max-width: 680px){
                        max-width: 50px;
                    }
                }
            }
        }
    }
    #about-concept, #porpes{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 0;
        @media(max-width:768px){
            padding: 80px 0;
        }
        @media(max-width:680){
            padding: 80px 0;
        }
        .concept-wrap{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 57px;
            height: 100%;
            @media(max-width: $device-md){
                grid-template-columns: 1fr;
            }
            .img-sec{
                    display: flex;
                    justify-content: stretch;
                    align-items: stretch;
                    position: relative;
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    @media(max-width: 1024px){
                        object-position: left;
                    }
                    
                }
                .white-panel{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: #edeef0;
                }
            }
            .content-sec{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    padding-bottom: 40px;
                }
                a{
                    padding-top: 30px;
                }
                @media(max-width: 1185px){
                    padding: 50px 0;
                }
            }
        }
    }
    .port-sub-footer{
        width: 100%;
        height: 240px;
        background: url('../images/about/cont-back.png') no-repeat;
        background-size: contain;
        background-position: center left;
        position: relative;
        @media(max-width: 690px){
            background: url('../images/about/subfooter-gb.png') no-repeat;
        }
        @media(max-width: $device-sm){
            height: 342px; 
            background: url('../images/about/subfooter-gb1.jpg') no-repeat;
            background-size: cover;
            background-position: center;
            background-position: center;
            padding: 20px;
        }
        
        .trans{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            @media(max-width: $device-sm){
                display: none;
            }
        }
        
        .wrap-colm-sec{
            width: 100%;
            height: 240px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media(max-width: $device-sm){
                grid-template-columns: 100%; 
            }
            .port-colombo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                position: static;
                z-index: 9;
                padding-right: 8rem;
                @media(max-width: $device-sm){
                    align-items: center;
                    padding-right: 0px;
                }
                .wrap-sec{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                img{
                    width: 100%;
                    max-width: 112px;
                    @media(max-width: $device-sm){
                        max-width: 80px;
                    }
                }
                span{
                    font-family: $second-font;
                    font-size: rem(17px);
                    color: #fff;
                    text-align: center;
                }
            }
            .port-dis-link{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                position: static;
                z-index: 9;
                @media(max-width: 768px){
                    align-items: center;
                }
                p{
                    font-family: $regular;
                    font-size: rem(18px);
                    line-height: 30px;
                    color: #fff;
                    padding-bottom: 20px;
                    padding-top: 3rem;
                    @media(max-width: $device-sm){
                       text-align: center;
                    }
                }
                a{
                    font-family: $mont-semibold;
                    font-size: rem(23px);
                    color: #1C67B2 !important;
                    line-height: 30px;
                    &:visited{
                        color: #1C67B2 !important;
                    }
                    @media(max-width: $device-sm){
                        font-size: rem(14px);
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
