/* -----------------------
      html
----------------------- */

html {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    @include respond-from($device-md, $device-lg) {
      font-size: 15px;
    }
  
    @include respond-to($device-sm, $device-md) {
      font-size: 14px;
    }
  
    @include respond-to(null, $device-sm) {
      font-size: 13px;
    }
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  hr,
  dl,
  dd,
  ol,
  ul,
  figure {
    margin: 0 !important;
    padding: 0;
  }
  
  /**
   * Basic styling
   */
  
  body {
    font-family: $font-p;
    color: $body-font-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    position: relative;
    height: 100% !important;
  }
  
  
  .full-container{
    width: calc(100% - 59px);
    margin: 0 auto;
  }
  /**
   * Set `margin-bottom` to maintain vertical rhythm
   */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  ul,
  ol,
  dl,
  figure,
  %vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
  }
  
  /**
   * Lists
   */
  
  ul,
  ol {
    margin-left: $spacing-unit;
    
  }
  
  li {
    > ul,
    > ol {
      margin-bottom: 0;
    }
  }
  ul{
    list-style: none;
  }
 
  /**
   * Headings
   */
  
  /* h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
  } */
  
  /**
   * Links
   */
  
  a {
    text-decoration: none;
  }
  
  /* mixin comp styles */
  
  .row.no-padding {
    margin: 0;
    > [class*="col-"] {
      padding: 0;
    }
  }
  
  @each $val in $mb-classes {
    .mb-#{$val} {
      margin-bottom: #{$val}px !important;
    }
  }
  
  body {
    font-family: $font-p;
    font-size: rem(18px);
    color: $body-font-color;
    background: #fff;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-h1;
  }
  
  h1, .h1 {
    font-size: rem(80px);
    font-family: $font-h1;
    color: $h1-color !important;
    @media(max-width: 1500px){
      font-size: rem(60px);
    }
    @media(max-width: 1440px){
      font-size: rem(50px);
    }
    // margin-bottom: rem(50px);
  }
  h2 {
    font-size: rem(50px);
    font-family: $second-font;
    @media(max-width: 1440px){
      font-size: rem(40px);
    }
    @media(max-width: 1024px){
      font-size: rem(30px);
    }
    
    
    // margin-bottom: rem(42px);
  }
  h3, .h3 {
    font-family: $second-font;
    font-size: rem(70px);
    letter-spacing: -1.4px;
    @media(max-width: 1440px){
      font-size: rem(36px);
    }
  }
  h4, .h4 {
    font-size: rem(18px);
    // margin-bottom: rem(32px);
    &.light{
      color: #AEB4BA;
    }
  }
  h5, .h5 {
    font-size: rem(16px);
  }
  h6, .h6 {
    font-size: rem(14px);
  } 

 
  .exp-title{
    font-family: $second-font;
    font-size: rem(17px);
    line-height: 50px;
    letter-spacing: 1px;
    color: #202330;
  }
  .regular-p{
    font-family: $regular !important;
    font-size: rem(18px);
    line-height: 30px ;
    text-align: justify;
    @media(max-width: 1440px){
      font-size: rem(16px);
    }
    @media(max-width: 1024px){
      font-size: rem(14px);
      line-height: 25px;
    }
  }
  .para-fnt{
    font-family: $regular !important;
    font-size: rem(18px);
    line-height: 30px ;
    
  }

  // container  
  .middel-sec{
    margin-left: 60px;
    margin-right: 100px;
    position: relative;
   
    @media(max-width: 1440px){
      margin-left: 60px;
      margin-right: 100px;
    }
    @media(max-width: 1024px){
      margin-right: 80px;
    }
    @media(max-width: 768px){
      margin-left: 40px;
    }
    @media(max-width: 680px){
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .wrap-over{
    overflow: hidden;
  }
  .inner-container{
    width: calc(100% - 80px);
    margin: 0 auto;
    @media(max-width: $device-sm){
      width: calc(100% - 30px);
    }
    @media(max-width: $device-xs){
      width: calc(100% - 20px);
    }
  }

  .bg-section {
    background: url('../images/body/body-img.jpg') no-repeat;
    background-size: cover;
  }


  .jury-item-mobile{
    display: none;
    @media(max-width: 995px){
      display: block;
    }
    position: relative;
    width: 100%;
    margin-left: 30px;
    transition: 1s ease-out;
    @media(max-width: 680px){
      max-width: auto;
      height: 550px;
    }
    cursor: pointer;
    overflow: hidden;
    
    &:hover .info{
        opacity: 1 !important;
        z-index: 5 !important;
    }
    &:hover img{
        transform: scale(1.1);
    }
    &:hover .jury-content{
        opacity: 0;
    }
    
    &:first-child{
        margin-left: 0px;
    }
    img{
        width: 100%;
        transition: 0.4s ease-out;
        position: relative;
        z-index: 4;
        
        
        
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background: rgba(black, 0.6);
            z-index: 2;
            transition: 0.5s;
            opacity: 1;
        }
        
    }
    
    
    .info{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        color: white;
        opacity: 0;
        background: #000000b3;
        transform: translateY(0px);
        transition: 0.5s;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        p{
            font-size: rem(14px) !important;
        }
    }
    
    
    .jury-content{
        position: absolute;
        bottom: 0;
        height: 152px;
        right: 0;
        left: 0;
        z-index: 4;
        color: #fff;
        padding: 0px 0px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        transition: 0.5s;
        background-image: linear-gradient(180deg, rgba(32,35,48,0.00) 0%, #202330 100%);
        @media(max-width: 1024px){
            padding: 0px 0px 10px 10px; 
        }
        .posi{
            font-family: $mont-semibold;
            font-size: rem(10px);
            color: #fff;
            letter-spacing: 0.82px;
        }
        h5{
            font-family: $font-h1;
            font-size: rem(27px);
            color: #fff;
            margin-bottom: 0;
        }
        .qulification{
            font-family: $moni-semibold-italic;
            font-size: rem(14px);
            color: #fff;
        }

    }
    .info{
      p{
        @media(max-width: 680px){
          line-height: 14px !important;
        }
      }
    }
    
    
  }
.dream-font{
  text-decoration: underline;
  color: #000;
  &:hover{
    color: #000;
  }
}
