#competioin-wrapper{
    position: relative;
    .transition{
        list-style: none;
        display: flex;
        position: absolute;
        z-index: 999;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        pointer-events: none;
        li{
            transform: scaleY(0);
            background: #fff;
            width: 20%;
        }

    }
    .tab-wrapper{
        .tab-nav{
            position: sticky;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            z-index: 99;
            @media(max-width: 680px){
                position: fixed;
                top: 70px;
                left: 0;
                right: 0;
                width: 100%;
                background: #fff;
            }
            a{
                text-decoration: none;
                span{
                    font-family: $second-font;
                    font-size: 17px;
                    color: #9598A4;
                    letter-spacing: 1px;
                    line-height: 45px;
                    @media(max-width: 425px){
                        font-size: 16px;
                        line-height: 17px;
                    }
                }
                h6{
                    font-family: $mont-semibold;
                    font-size: 30px;
                    color: #202330;
                    @media(max-width: 1440px){
                        font-size: 23px;
                        color: #202330;
                        line-height: 14px;
                        
                    }
                    @media(max-width: $device-md){
                        font-size: 12px;
                        color: #202330;
                        line-height: 10px;
                        
                    }
                    @media(max-width: 680px){
                        display: none;
                        
                    }
                    
                }
            }
            
            .com-one{
                width: 49%;
                height: 115px;
                border: 4px solid #202330;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                @media(max-width: 680px){
                    height: 75px;
                }
            }
            .com-two{
                width: 49%;
                height: 115px;
                border: 4px solid #202330;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                @media(max-width: 680px){
                    height: 75px;
                }
            }
            .bg-color-set{
                background: #202330 !important;
                h6{
                    color: #fff !important;
                }
            }
        }
    }
    .comp-banner{
        height: 1289px;
        padding-top: 75px;
        position: relative;
        .wrap-head {
            position: absolute;
            top: 80px;
            z-index: 9;
            @media(max-width: 680px){
                top: 191px;
            }
        }
        @media(max-width:1487px){
            height: 1500px;
        }
        @media(max-width:1440px){
            height: 1289px;
        }
        @media(max-width:1280px){
            height: 1400px;
        }
        @media(max-width:1161px){
            height: 1500px;
        }
        @media(max-width:1024px){
            height: 1289px;
        }
        @media(max-width:914px){
            height: 1320px;
        }
        @media(max-width:768px){
            height: 1460px;
        }
        @media(max-width:456px){
            height: 1600px;
        }
        @media(max-width:320px){
            height:1720px;
        }
        
        @media(max-width:365px){
            height:1670px;
        }
        @media(max-width:321px){
            height:1700px;
        }
        
        .competion-banner-left{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            @media(max-width: $device-md){
                top: -131px;
            }
            svg{
                @media(max-width: 1440px){
                    width: 100%;
                }
            }
            #Combined-Shape-Copy{
                animation: example infinite;
                animation-duration: 6s ;
                transition: 1s;
            }
            @keyframes example {
                0% {
                    fill: #fff;
                }
                50% {fill: #000;}
                100% {
                    fill: #fff;
                }
              }
        }
        .competition-banner-content {
            width: 50%;
            padding-right: 40px;
            position: absolute;
            top: 223px;
            right: 0;
            z-index: 9;
            @media(max-width: $device-md){
                position: static;
                width: 100%;
                top: 0;
                right: 0;
                margin-top: 28rem;
            }
            blockquote{
                font-family: $regular;
                font-size: rem(37px);
                color: #838798;
                line-height: 47px;
                border-left: none;
                @media(max-width: 1440px){
                    font-size: rem(30px);
                    line-height: 36px;
                }
            }
        
        }
        .competion-timeline-banner{
            position: absolute;
            width: calc(100% - 24px);
            bottom: 0px;
            z-index: 9;
            display: grid;
            grid-template-columns: repeat(2 ,1fr);
            grid-template-rows: 1fr;
            align-items: center;
            grid-gap: 20px;
            padding-right: 37px;
            @media(max-width: $device-md){
                position: static;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
                grid-gap: 20px;
                padding-right: 0;
                padding-top: 50px;
            }
            .competion-timeline{
                .timeline-row{
                    padding-top: 10px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    @media(max-width: 1024px){
                        padding-top: 18px;
                    }
                    .time-head{
                        font-family: $second-font;
                        font-size: 18px;
                        color: #202330;
                        @media(max-width: 1024px){
                            font-size: 14px;
                        }
                    }
                    .time-txt{
                        font-family: $regular;
                        font-size: 16px;
                        color: #84868D;
                        line-height: 24px;
                    }
                    // img{
                    //     padding-right: 30px;
                    //     &:nth-child(1){
                    //         padding-right: 42px;
                    //     }
                    // }
                    span{
                        font-family: $canela-regular;
                        font-size: rem(40px);
                        line-height: 50px;
                        letter-spacing: -1px;
                        color: #fff;
                        -webkit-text-fill-color: #fff;
                        -webkit-text-stroke-width: 0.5px;
                        -webkit-text-stroke-color: #2D2D2D;
                        padding-right: 20px;
                        
                    }
                }
                
            }
            .competion-timeline-image{ 
                position: relative;
                width: 100%;
                height: 400px;
                position: relative;
                @media(max-width: 914px){
                    margin-top: 0rem;
                }
                @media(max-width: 990px){
                    height: 470px;
                }
                @media(max-width: 768px){
                    height: 430px;
                }
                @media(max-width: 680px){
                    margin-top: 15rem;
                }
                @media(max-width: 680px){
                    height: 315px;
                }
                @media(max-width: 425px){
                    height: 160px;
                }
                @media(max-width: 345px){
                    height: 130px;
                }
                .competion-one-slide {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    overflow: hidden;
                    @media(max-width: 425px){
                        top: -137px;
                    }
                    .swiper-slide{
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                
            }
            .competion-timeline-imageTW{ 
                
                width: 100%;
                height: 400px;
                overflow: hidden;
                
                .slideTW{
                    width: 100%;
                    height: 400px;
                    background: url("../images/competition/timeline01.png");
                    background-size: cover;
                    object-fit: cover;
                    object-position: center;
                    background-position: left center;
                }
                
                img{
                    width: 100%;
                    height: auto;
                }
                
            }
        }
       
    }
    
    
}
.eligibale{
    padding: 80px 0;
    @media(max-width: $device-md){
        padding-top: 35rem;
    }
    @media(max-width: 768px){
        padding-top: 24rem;
    }
    @media(max-width: 680px){
        padding-top: 35rem;
    }
    @media(max-width: 425px){
        padding-top: 18rem;
    }
    @media(max-width: 403px){
        padding-top: 20rem;
    }
    @media(max-width: 375px){
        padding-top: 23rem;
    }
    @media(max-width: 319px){
        padding-top: 25rem;
    }
    
    
    .inner-container{
        @media(max-width: $device-md){
            width: calc(100% - 0px);
        } 
    }
    .el-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
        padding-top: 40px;
        @media(max-width: $device-md){
            grid-template-columns: 1fr;
        }
        .el-right{
            @media(max-width: $device-md){
                padding-left: 27px;
            }
        }
        .el-left{
            p{
                &:nth-child(1){
                    padding-top: 0px; 
                }
                padding-top: 30px; 
            }
        }
        
    }
}
.rules{
    padding-bottom: 80px;
    .inner-container{
        @media(max-width: $device-md){
            width: calc(100% - 0px);
        } 
    }
    .rules-sec{
        padding-top: 40px;
        margin-left: 24px;
        padding-top: 40px;
        column-count: 2;
        column-gap: 63px;
        @media(max-width: $device-md){
            column-count: 1;
        } 

        
    }
}

.registration{
    position: relative;
    overflow: hidden;
    height: 473px;
    @media(max-width: 1024px){
        height: 1164px;
    }
    .right-rainbow-path{
        position: absolute;
        top: 0;
        right: 0;
        @media(max-width: 1024px){
            display: none;
        }
        
    }
    .header-fnt{
        text-align: center;
        .step-fnt{
            font-family: $font-h1;
            font-style: italic;
            font-size: rem(50px);
            color: #202330;
        }
    }
    .progress-rule{
        width: 100%;
        max-width: 1266px;
        margin: 0 auto;
        height: 199px;
        position: relative;
        padding-top: 50px;
        .path{
            @media(max-width: 1024px){
                display: none !important;
            }
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            
            
        }
        .path-box-wrap {
           
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            width: 100%;
            top: 0;
            @media(max-width: 1024px){
                flex-direction: column;
            }
            .box1{
                width: 25%;
                @media(max-width: 1024px){
                    width: 100%;
                }
                img{
                    @media(max-width: 1400px){
                        width: 100%;
                        height: auto;
                        margin: 10px;
                    }
                }
                .step-box{
                    
                    @media(max-width: 1024px){
                        width: 100%;
                        max-width: 160px;
                    }
                }
                span{
                    font-family: $second-font;
                    font-size: rem(18px);
                    color: #202330;
                    line-height: 25px;
                    @media(max-width: 1400px){
                        font-size: rem(12px);
                    }
                    @media(max-width: 1024px){
                        font-size: rem(16px);
                    }
                }
                .wrap-cont{
                    margin-top: 30px;
                }
            }
        }
    }
}

.competion-submition{
    width: 100%;
    height: 400px;
    background-color: #221E20;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding:  80px;
    @media(max-width: $device-md){
        height: auto;
        flex-direction: column;
        padding:  40px;
    }
    .submition-section{
         flex: 1;   
         @media(max-width: $device-md){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
        }
         h2{
             color: #fff;
             padding-bottom: 18px;
         }
         p{
             color: #fff;
             width: 100%;
             max-width: 600px;
             line-height: 30px;
         }
         a{
             margin-top: 37px;
             &:focus{
                 outline: none;
                 border: none;
             }
         }
         button{
             margin-top: 37px;
             &:focus{
                 outline: none;
                 border: none;
             }
         }
         &::after{
             content: '';
             width: 1px;
             height: 240px;
             background-attachment: #fff;
             position: absolute;
             top: 0;
             right: 0;

         }
    }
    .need-help-section{
        padding-left: 80px;
        flex: 1;
        @media(max-width: $device-md){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
        }
        @media(max-width: $device-md){
            padding-left: 0px;
            padding-top: 2rem;
        }

        h2{
            color: #fff;
            padding-bottom: 18px;
        }
        p{
            color: #fff;
            width: 100%;
            max-width: 600px;
            line-height: 30px;
            @media(max-width: $device-md){
                text-align: center;
            }
        }
        a{
            margin-top: 67px;
            color: #000;
            &:focus{
                outline: none;
                border: none;
            }
        }
        button{
            margin-top: 67px;
            color: #000;
            &:focus{
                outline: none;
                border: none;
            }
        }
    }
}

.awards{
    height: 800px;
    @media(max-width: $device-md){
        height: auto;
        padding-top: 40px;
    }
    h2{
        padding-bottom: 52px;
    }
    .wrap-winner-sec{
        display: grid;
        grid-template-columns: 40% 60%;
        @media(max-width: $device-md){
            grid-template-columns: 100%;
        }
        .wrap-suv-title{
            padding-bottom: 42px;
            .winner-sub-title{
                font-family: $mont-light;
                font-size: rem(50px);
                color: #202330;
                line-height: 50px;
                letter-spacing: -1px;
                text-align: center;
                
                @media(max-width: 1024px){
                    font-size: rem(30px);
                    padding-bottom: 22px;
                }
                
            }
            p{
                padding-top: 10px;
            }
        }
        .wrap-suv-title2{
            padding-bottom: 76px;
            .winner-sub-title{
                font-family: $mont-light;
                font-size: rem(50px);
                color: hsl(229, 20%, 16%);
                line-height: 50px;
                letter-spacing: -1px;
                text-align: center;
                
                @media(max-width: 1024px){
                    font-size: rem(30px);
                    padding-bottom: 22px;
                }
                
            }
            
        }
        
        .the-winner{    
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            margin: 0 auto; 
            .wrap-winner-img{
                display: flex;
                flex-direction: column;
                padding-right: 20px;
                
                img{
                    width: 100%;
                    padding: 50px;
                    border: solid 4px #000;
                    border-radius: 3px;
                    @media(max-width: 1024px){
                        padding: 30px;
                    }
                }
                span{
                    font-family: $mont-semibold;
                    font-size: rem(16px);
                    color: #202330;
                    line-height: 35px;
                    letter-spacing: -0.6px;
                    text-align: center;
                    padding-top: 20px;
                    @media(max-width: 1024px){
                        font-size: rem(22px);
                    }
                }
            }
            
        }
        .top-three{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            @media(max-width: $device-md){
                flex-direction: column;
            }
            .wrap-winner-img{
                display: flex;
                flex-direction: column;
                margin-right: 10px;
                width: 100%;
                max-width: 256px;
                @media(max-width: 990px){
                    max-width: 100%;
                }
                &:last-child{
                    margin-right: 0;
                }
                img{
                    width: 100%;
                    max-width: 256px;
                    object-fit: cover;
                    height: 360px;
                    padding: 35px;
                    border: solid 4px #000;
                    border-radius: 3px;
                    object-position: top;
                    @media(max-width: 990px){
                        max-width: 100%;
                        height: auto;
                    }
                    
                }
                span{
                    font-family: $mont-semibold;
                    font-size: rem(16px);
                    color: #202330;
                    line-height: 35px;
                    letter-spacing: -0.6px;
                    text-align: left;
                    padding-top: 40px;
                    @media(max-width: 1024px){
                        font-size: rem(22px);
                    }
                }
            }
            
        }
    }
}

.Honorary-Mention{
    padding-top: 56px;
    padding-bottom: 80px;
    h2{
            font-family: $mont-light;
            font-size: rem(50px);
            color: #202330;
            line-height: 50px;
            letter-spacing: -1px;
            text-align: center;
            padding-top: 60px;
            padding-bottom: 40px;
    }
    .honorary-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media(max-width: $device-md){
            flex-direction: column;
        }
        .iteam{
            width: calc(100% - 30px);
            height: 80px;
            background-color: #F1F1F1;
            display: flex;
            justify-content: start;
            align-items: center;
            margin-right: 20px;
            padding-left: 30px;
            @media(max-width: $device-md){
                justify-content: center;
                margin-bottom: 20px;
            }
            span{
                font-family: $mont-semibold;
                font-size: rem(20px);
                color: #202330;

            }

        }
    }
}
.submition{
    margin-top: 2rem;
    background-color: #221E20;
}

.download-images-pack{
    @media(max-width: 990px){
        display: none !important;
    }
    p{
        font-size: 16px;
        display: flex;
        justify-content: flex-end;
        padding-right: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
        @media(max-width: 375px){
            flex-direction: column !important;
            padding: 10px;
        }
        a{
            font-family: $second-font;
            color: #000;
            padding-right: 10px;
        }
    }
   
}
.download-images-pack2{
    position: absolute;
    bottom: 0;
    z-index: 999;
    display: none;
    @media(max-width: 990px){
        display: block !important;
    }
    p{
        font-size: 16px;
        display: flex;
        justify-content: flex-end;
        padding-right: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
        @media(max-width: 375px){
            flex-direction: column !important;
            padding: 10px;
        }
        a{
            font-family: $second-font;
            color: #000;
            padding-right: 10px;
        }
    }
   
}

.swiper-button-next{
    @media(max-width: 680px){
        display: none;
    }
}
.swiper-button-prev{
    @extend .swiper-button-next;
}