.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 0;
    background: #000;
    opacity: 1;
    transform: rotate(45deg);
}
.swiper-pagination-bullet-active{
 &::after{
    content: '';
    width: 1px;
    height: 27px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1 !important;
 }
}

.short-nav{
    .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        list-style: none;
        background-color: #ffffff0a;;
        border-radius: 0;
        .breadcrumb-item{
            a{
                font-family: $mont-semibold !important;
                font-size: rem(20px) !important;
                color: #202330 !important;
                
            }
            &:last-child{
                a{
                    .active{
                        &:hover{
                            text-decoration: none !important;
                        }
                       
                }
            }
             
            }
        }
         
    }
    .breadcrumb>li+li:before {
        padding: 0 5px;
        color: #000;
        content: "/\00a0";
    }
}



  .scroll-indicator-controller {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 43px;
  z-index: 99999;
  @media(max-width: 1440px){
    right: 50px;
  }
  @media(max-width: 680px){
    display: none;
  }

  > div {
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 0;
    border: 1px solid black;
    background: #fff;
    margin: 18px 0 10px 0;
    cursor: pointer;
    transform: rotate(45deg);
    transition: background 0.4s ease;
    will-change: transition;
    @media(max-width: 768px){
      width: 8px;
      height: 8px;
    }

    span {
      color: tomato;
      position: absolute;
      right: calc(100% + 8px);
      white-space: nowrap;
      top: -1px;
      font-family: arial, sans-serif;
      font-size: 16px;
      line-height: 17px;
      width: 0;
      overflow: hidden;
      opacity: 0;
      transform: translateX(10px);
      transition: all 0.4s ease;
      will-change: transition;
      color: #464646;
      font-weight: 600;

      &:after {
        content: "-----";
        padding-left: 5px;
        letter-spacing: -2px;
        font-family: arial, sans-serif;
        vertical-align: text-top;
        font-weight: 400;
      }
    }
  }

  &.indi-mobile > div span {
    display: none;
  }

  > div.active {
    background: #000;
    border-color: rgba(0, 0, 0, 0.25);
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 30px;
      background: #000;
      transform: translate(-50%, -50%);
      @media(max-width: 768px){
        height: 20px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .scroll-indicator-controller {
    right: 28px;
  }
}


// @media (hover: hover) {
//   .scroll-indicator-controller > div:hover span {
//     width: auto;
//     opacity: 1;
//     overflow: visible;
//     transform: translateX(0px);
//   }
// }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .scroll-indicator-controller > div:hover span {
    width: auto;
    opacity: 1;
    overflow: visible;
    transform: translateX(0px);
  }
}

@media (hover: none) {
  .scroll-indicator-controller > div span {
    display: none;
  }
}

@supports (-ms-ime-align: auto) {
  .scroll-indicator-controller > div span {
    transition: opacity 0.4s ease;
  }
}

.owl-dots{
  display: none;
 

  @media(max-width: 680px){
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .owl-dot{
    border-radius: 100%;
    height: 14px;
    width: 0;
    display: inline-block;
    background: rgb(35, 31, 32);
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px #000;
  }
  .active{
    border: solid 1px #000;
    background: #fff;
  }
}


.owl-carousel{
  padding: 0 50px;
  @media(max-width: 990px){
    height: 500px;
    margin-bottom: 16rem;
  }
  .item{
    width: 100%;
   img{
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top center;
    }
  }
}

@media(max-width: 680px){

  .owl-item.active {
    width: 100%;
    max-width: 300px !important;
  }
}


.owl-carousel .owl-prev{
  background: url('../images/body/req-left.png') no-repeat scroll 0 0;
  left: -29px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    margin-right: 10px;
}
.owl-carousel .owl-next{
  background: url('../images/body/req-right.png') no-repeat scroll;
  right: -29px;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
}
.owl-nav {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}


.port-right-logo {
  margin-bottom: 4rem;
}