.aod-faq{
  background: #F1F1F1;
}
.bg-posi{
  position: static;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  
}
.faq-wrapper{
  height: 100%;
  width: 100%;
  padding-top: 80px;
  background: url("/assets/images/faq/faq-banner.png");
  // position: absolute;
  // top: 78px;
  // z-index: 9;
  .search{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 34px;
    input{
      width: 68%;
      padding: 25px;
      background: #000;
      border: solid 1px #000;
      color: #fff !important;
      @media(max-width: 1440px){
        padding: 18px;
      }
      @media(max-width: 680px){
        width: 100%;
      }
      &::placeholder{
        font-family: $regular;
        font-size: rem(25px);
        color: #C4C4C4;
        @media(max-width: 1440px){
          font-size: rem(20px);
        }
        
      }
      &:focus{
        outline: none;
      }
    }
  }
  .quections{
    padding-top: 60px;
    columns: 3;
    column-gap: 50px;
    @media(max-width: 1024px){
      columns: 2;
    }
    @media(max-width: 680px){
      columns: 1;
    }

    // grid-auto-rows: 50px;
    .q-item{
      padding: 40px 39px;
      background: #fff;
      margin: 0 0 50px;
      overflow: hidden;
      break-inside: avoid;
      @media(max-width: 1024px){
        padding: 20px 20px;
      }
      .q-tittle{
        h5{
          font-family: $second-font;
          font-size: rem(30px);
          color: #202330;
          line-height: 30px;
          letter-spacing: -0.6px;
          @media(max-width: 1440px){
            font-size: rem(24px);
          }
          @media(max-width: 1024px){
            font-size: rem(18px);
          }
        }
        padding-bottom: 40px;
      }
      p{
        font-family: $regular;
        font-size: 18px;
        color: #202330;
        line-height: 30px;
        @media(max-width: 1440px){
          font-size: 16px;
        }
      }
    }
  }
  .wrpa-qa{
    margin: 20px 0;
    .moreQA{
      margin-bottom: 40px;
      background-color: black;
      width: 68%;
      margin: 0 auto;
      padding: 20px 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        font-family: $second-font;
        color: #fff;
        padding-top: 0px;
        margin: 0;
        @media(max-width: 680px){
          padding-left: 0;
        }
        a{
          color: #1C67B2;
          font-family: $second-font;
        }
      }
    }
  }
  
  
  
}