footer{
  padding: 50px 0;
  background-color: #F7F7F7;
  @media(max-width: 680px){
    padding: 0px 0;
  }
  .wrap-footer{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #F7F7F7;
    
    @media(max-width: 768px){
      grid-template-columns: 100%;
      grid-template-rows: 100px ;
      background: #fff;
      
    }
    @media(max-width: 680px){
      padding: 0px;
    }
    .port-logo{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      background-color: #F7F7F7;
      @media(max-width:768px){
        justify-content: center;
      }
      img{
        padding-right: 3rem;
        width: 100%;
        max-width: 118px;
        @media(max-width: 680px){
          padding-right: 0;
          max-width: 80px;
          
        }
      }
      &::after{
        content: '';
        width: 1px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-color: #D8D8D8;
        @media(max-width: 680px){
          width: 0px;
        }
  
      }
    }
    .ft-dis {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 70px;
      background-color: #F7F7F7;
      @media(max-width:768px){
        padding-left: 0px;
        align-items: center;
        text-align: center;
      }
  
      p{
        // padding-bottom: 20px;
        padding-top: 2rem;
      }
      .solution{
        margin: 0 !important;
        padding: 0;
        font-size: 14px;
        color: #919191;
        padding-bottom: 1rem;
        a{
          font-size: 14px;
          color: #919191;
          text-decoration: underline;
        }
      }
      img{
        &:nth-child(1){
          padding-right: 20px;
        }
      }
    } 
  
    .footer-social-link{
      @media(min-width: 680px){
        display: none;
      }
      width: 100%;
      padding: 0 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      @media(max-width: 680px){
        padding: 30px 10%;
      }
      
    }

}
}



