
#banner{
    width: 100%;
    height: 100vh;
    background: url('../images/body/body-img.jpg') no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    padding: 0 50px;
    @media(max-width: 768px){
        padding: 0 20px;
    }
    @media(max-width: 680px){
        height: 750px;
    }
    h2{
        font-family: $font-p;
        font-size: rem(50px);
        line-height: 60px;
        @media(max-width: 1440px){
            font-size: rem(32px);
            line-height: 46px;
          }
        @media(max-width: 768px){
            font-size: rem(26px);
            line-height: 32px;
          }
    }
    .banner-text-section{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 9;
        @media(max-width: 680px){
            top: 100px;
            width: 100%;
            transform: none;
            right: 0rem;
        }
        .text-ani-inner{
            @media(max-width: 680px){
                text-align: center;
            }
        }
        .competition-box{
          display: flex;
          flex-direction: row;
          padding-top: 50px;
          @media(max-width: 680px){
              justify-content: center;
          }
            .box{
                cursor: pointer;
                width: 100%;
                max-width: 160px;
                height: 180px;
                background: #fff;
                position: relative;
                z-index: 9;
                border: solid 2px #000;
                &:nth-child(1){
                    margin-right: 30px;
                }
                &:hover .upper-box{
                   clip-path: polygon(0 -1%, 100% 0, 100% 57%, 0 57%); 
               }
                .upper-box{
                   background-color: #000;
                   clip-path: polygon(0 -1%, 100% 0, 100% 72%, 0 57%);
                   position: absolute;
                   top: 0;
                   left: 0;
                   right: 0;
                   bottom: 0;
                   transition: 300ms ease-out;
                   display: flex;
                   flex-direction: column;
                   padding: 15px 19px;
                   .comp{
                       font-family: $second-font;
                       font-size: 14px;
                       color: #fff;
                       letter-spacing: -0.32px;
                       line-height: 25px;
                   }
                   .one{
                       @extend .comp;
                       font-size: 20px;
                       letter-spacing: -0.44px;

                   }
                   
                }
                .enter-now{
                    font-family: $regular;
                    font-size: 14px;
                    color: #232737;
                    line-height: 20px;
                    position: absolute;
                    bottom: 11px;
                    left: 16px;
                }
            }
        }
    }
    .mask-slider{
        width: 100%;
        max-width: 1170px;
        height: 100%;
        position: absolute;
        right: -9%;
        top: -19px;
        bottom: -12px;
        mask-image: url("../images/body/logo-shape.svg");
        mask-size: 100% 100%;
        animation:maskSpin 50s ease-in-out infinite;
        transform-origin: 550px 600px;
        @media(max-width: 1440px){
            width: 100%;
            max-width: 700px;
            right: -7%;
            bottom: 0px;
            transform-origin: center;
        }
        @media(max-width: 1065px){
            max-width: 600px;
        }
        @media(max-width: 1024px){
            max-width: 480px;
        }
        @media(max-width: 768px){
            max-width: 400px;
            right: -13%;
        }
        @media(max-width: 680px){
            max-width: 330px;
            top: 20em;
            right: 127px;
        }
        @media(max-width: 425px){
            right: 53px;
        }
        @media(max-width: 375px){
            right: 25px;
        }

       @keyframes maskSpin {
            0% {
                 transform:rotate(-20deg);
            }
            50%{
                transform:rotate(20deg);
            }
            100%{
                transform:rotate(-20deg);
            }
        }

        @keyframes maskSpin2 {
            0% {
                 transform:rotate(20deg);
            }
            50%{
                transform:rotate(-20deg);
            }
            100%{
                transform:rotate(20deg);
            }
        }        
   
        .bg-slider{

            animation:maskSpin2 50s ease-in-out infinite;
            transform-origin: 550px 600px;
            @media(max-width: 1440px){
                transform-origin: center;
            }
           
            img{
                width: 100%;
                max-width: 1170px;
                height: 100vh;
                object-fit: cover;
                object-position: right;
                @media(max-width: 680px){
                    width: 100%;
                    max-width: 450px;
                    height: 100vh;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

#home-competition{
    width: 100%;
    background: url('../images/body/body-img.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        .wrap-comp-home{
            height: 765px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 100px;
            align-items: center;
            @media(max-width: 1440px){
                grid-gap: 20px;
                padding: 0 20px;
            }
            @media(max-width: $device-md){
                grid-template-columns: 1fr;
            }
            .competition-home-left{
                width: 100%;
                max-width: 650px;
                padding: 8rem 5rem;
                background-color: #161414;
                @extend .flex-center;
                flex-direction: column;
                @media(max-width: 1440px){
                    max-width: 650px;
                    height: 600px;
                    padding: 0;
                }
                @media(max-width: 1024px){
                    height: 500px;
                }
                .comp-logo{
                    img{
                        @media(max-width: 1024px){
                            max-width: 110px;
                        }
                    }
                }
                .com-left-discript{
                    padding-top: 30px;
                    text-align: center;
                    max-width: 464px;
                    @media(max-width: 1440px){
                        padding-top: 20px;  
                    }
                    h4{
                        font-family: $second-font;
                        font-size: rem(36px);
                        color: #FFFFFF;
                        line-height: 50px;
                        letter-spacing: 0.9px;
                        text-align: center;
                        &:nth-child(2){
                            letter-spacing: -0.86px !important;
                        }
                        @media(max-width: 1440px){
                            font-size: rem(30px);
                            line-height: 42px;
                        }
                        @media(max-width: 1024px){
                            font-size: 26px;
                           line-height: 33px;
                        }
                        
                    }
                    span{
                        font-family: $font-p;
                        font-size: rem(50px);
                        line-height: 50px;
                        color: #fff;
                        position: relative;
                        &::after{
                            content: '';
                            width: 80px;
                            height: 2px;
                            background-color: #fff;
                            position: absolute;
                            left: 111%;
                            top: 50%;
                        
                        }
                        &::before{
                            content: '';
                            width: 80px;
                            height: 2px;
                            background-color: #fff;
                            position: absolute;
                            right: 111%;
                            top: 50%;
                        
                        }
                    }
                }
            }
            .competition-home-discript{
                width: 100%;
                max-width: 599px;
                @media(max-width: $device-md){
                    display: flex;
                    flex-direction: column;
                    /* justify-content: center; */
                    align-items: center;
                }
                h2{
                    padding-bottom: 1rem;
                }
                p{
                    padding-bottom: 33px;
                }
            }
        }
}

#home-jury{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 965px;
    @media(max-width: 1024px){
        height: 768px;
    }
    @media(max-width: $device-md){
        display: none !important;
     }
    
    .jury-home{
        h2{
            padding-top: 5rem;
            padding-bottom: 60px;
            @media(max-width: 1024px){
                padding-bottom: 25px;
            }
        }
        .jury-images-wrap{
            width: calc(100% - 40px);
            height: 580px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            @media(max-width: 1024px){
                height: 450px;
            }
            @media(max-width: $device-md){
                display: none;
             }
            .jury-item{
                position: relative;
                width: 25%;
                max-width: 284px;
                margin-left: 30px;
                transition: 1s ease-out;
                cursor: pointer;
                overflow: hidden;
                &:hover .info{
                    opacity: 1 !important;
                    z-index: 5 !important;
                }
                &:hover img{
                    transform: scale(1.1);
                }
                &:hover .jury-content{
                    opacity: 0;
                }
                
                &:first-child{
                    margin-left: 0px;
                }
                img{
                    width: 100%;
                    transition: 0.4s ease-out;
                    position: relative;
                    z-index: 4;
                    
                    
                    
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                        background: rgba(black, 0.6);
                        z-index: 2;
                        transition: 0.5s;
                        opacity: 1;
                    }
                    
                }
                
                
                .info{
                    position: absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 3;
                    color: white;
                    opacity: 0;
                    background: #000000b3;
                    transform: translateY(0px);
                    transition: 0.5s;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: rem(14px) !important;
                        line-height: 20px;
                    }
                }
                
                
                .jury-content{
                    position: absolute;
                    bottom: 0;
                    height: 152px;
                    right: 0;
                    left: 0;
                    z-index: 4;
                    color: #fff;
                    padding: 0px 0px 30px 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    transition: 0.5s;
                    background-image: linear-gradient(180deg, rgba(32,35,48,0.00) 0%, #202330 100%);
                    @media(max-width: 1024px){
                        padding: 0px 0px 10px 10px; 
                    }
                    .posi{
                        font-family: $mont-semibold;
                        font-size: rem(10px);
                        color: #fff;
                        letter-spacing: 0.82px;
                    }
                    h5{
                        font-family: $font-h1;
                        font-size: rem(27px);
                        color: #fff;
                        margin-bottom: 0;
                    }
                    .qulification{
                        font-family: $moni-semibold-italic;
                        font-size: rem(14px);
                        color: #fff;
                    }

                }
                
                
            }
            .box1-slide{
                transform: translateY(0px);
            }
            .box2-slide{
                transform: translateY(60px);
            }
            .box3-slide{
                transform: translateY(35px);
            }
            .box4-slide{
                transform: translateY(-20px);
            }
            .box5-slide{
                transform: translateY(40px);
            }
        }
        
    }

    .mobile-jury{
        display: none;
        @media(max-width: $device-md){
            display: block;
        }
    }

}
.mobile-jury{
    display: none;
}

#enter-now{
    background-color: #221E20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .enternow{
        width: 100%;
        max-width: 920px;
        padding: 20px;
        h2{
            color: #fff;
            font-size: rem(50px);
            padding-bottom: 2rem;
        }
        P{
            color: #fff;
            padding-bottom: 2.8rem;
        }
        .email-section{
            display: flex;
            padding-bottom: 56px;
            @media(max-width: $device-md){
                flex-direction: column;
            }
            .email-textboxes{
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 710px;
                .inputsec{
                    display: flex;
                    @media(max-width: $device-md){
                        flex-direction: column;
                    }
                    input{
                        width: 100%;
                        margin-right: 10px;
                        @media(max-width: $device-md){
                            margin-bottom: 10px;
                        }
                    }
                    &:nth-child(2){
                        margin-top: 10px;
                        @media(max-width: $device-md){
                            margin-top: 0px;
                        }
                    }
                    ::placeholder{
                        font-family: $regular;
                    font-size: 18px;
                    color: #fff;
                    }
                }
                
            }
            .btn-secttion{
                flex: 1;

            }
        }
        hr{
        
            opacity: 0.1;
            background: #FFFFFF;
        }
        .al-reg{
            padding-top: 56px;
        }
    }
}

#insta{
    width: 100%;
    height: auto;
    .wrap-insta{
        width: 100%;
        max-width: 1559px;
        padding-top: 79px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .insta-adi{
            width: 100%;
            height: 45px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            h2{
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        .gallery{
            padding-top: 80px;
            width: 100%;
            max-width: 1559px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-template-rows: auto;
            grid-gap: 1px;
            .gal{
                img{
                    width: 100%;
                }
            }
        
        }
    }
    
}
.wrap-detals-section{
    width: 100%;
    height: 965px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    #requeir-slide{
        width: 100%;
        
        
        .mid-nav{
            padding-top: 80px;
            display: flex;
            justify-content: center;
           
            .swiper-pagination {
                position: absolute;
                top: -166px;
                width: auto !important;
                left: 50%;
                margin: 0;
                display: flex;
                flex-direction: row;
            }
            .swiper-pagination-bullet {
                padding: 0px 0 33px 0;
                margin-right: 4rem;
                border-radius: 0;
                width: auto;
                height: 40px;
                text-align: center;
                opacity: 1;
                transform: none;
                background: #fff;
                font-family: $second-font;
                font-size: 17px;
                color: #004C98;
                text-decoration: none;
                letter-spacing: 1px;
                padding-bottom: 25px;
                position: relative;
                transition: color 300ms;
                @media(max-width: $device-sm){
                    margin-right: 2rem;
                    font-size: 9px;
                }
                &:last-child{
                    margin-right: 0;
                }
                &::after{
                    content: none;
                }
                &:focus{
                    outline: none;
                }
                
            }
            .swiper-pagination-bullet-active {
                color:#232737;
                border-bottom: solid 3px #202330;
            }
        }
        
    }
    .req-slide{
        width: 100%;
        margin-top: 95px;
        position: relative;
        @media(max-width: 1024px){
            margin-top: 60px;
        }
        .left-panel{
            position: absolute;
            top: 0;
            bottom: 0;
            left: -22px;
            width: 250px;
            height: 100%;
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.78) 0%, #ffffff30 100%);
            z-index: 9;
            @media(max-width: 1024px){
                width: 85px;
            }
            @media(max-width: $device-md){
                display: none;
            }

        }
        .right-panel{
            position: absolute;
            top: 0;
            bottom: 0;
            right: -21px;
            width: 272px;
            height: 100%;
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.71) 0%, #FFFFFF 100%);
            z-index: 9;
            @media(max-width: 1024px){
                width: 85px;
            }
            @media(max-width: $device-md){
                display: none;
            }

        }
        .swiper-slide{
            
            width: 60%;
            @media(max-width: 1024px){
                width: 100%;
            }
        
            h2{
                padding-bottom: 28px;
                font-family: $mont-light;
            }
        }
        
        
    }
    .nav-req-sec{
        width: 100%;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            &:focus{
                outline: none;
            }
            &:nth-child(1){
                padding-right: 10px;
            }
        }
    }
}
.menu-wrapper{
    position: relative;
    .menu {
        z-index: 999;
        position: fixed;
        background: url('../images/body/nav-panel.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 0;
        top: 0;
        left: 100%;
        
        
        
        .data {
            text-align: right;
            margin-top: 6rem;
            margin-right: 14rem;
            @media(max-width: 1024px){
                margin-top: 0rem;
                margin-right: 0rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 250px;
                right: 200px;
            }
            @media(max-width: 675px){
                right: 16%;
            }
            
            
            
            ul {
                // position: absolute;
                // right: 320px;
                list-style: none;
                // padding-right: 320px;
                .nav-data{
                    font-family: $second-font;
                    font-size: rem(50px);
                    color: #202330;
                    letter-spacing: -1px;
                    @media(max-width: 1024px){
                        font-size: rem(36px);
                    }
                }
                li{
                    padding: 15px 0;
                }
           }
       }
    }
}
