@import 'mix.scss';

.left-menu{
    width: 60px;
    height: 100vh;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    border-right: 1px solid #E8E8E8;
    @media(max-width: 1440px){
        width: 60px;
    }
    @media(max-width: 768px){
        width: 40px;
    }
    @media(max-width: 680px){
        display: none;
    }
    .logo{
        img{
            @media(max-width: 768px){
                max-width: 30px;
            }
        }
        
    }
    .pcc-sec{
        span{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-family: $mont-semibold;
            font-size: 13px;
            color: #202330;
            letter-spacing: 0.87px;
            transform: rotate(180deg);
        }
    }
    .social-media{
        @extend .flex-center;
        flex-direction: column;
        img{
            &:nth-child(1){
                padding-bottom: 15px;
            }
            @media(max-width: 768px){
                max-width: 30px;
            }
        }
    }
}

.right-menu{
    width: 100px;
    height: 100vh;
    padding: 47px 0 38px 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    border-left: 1px solid #E8E8E8;
    background-color: #fff;
    @extend .flex-beetween;
    flex-direction: column;
    align-items: center;
    @media(max-width: 1440px){
        width: 100px;
    }
    @media(max-width: 1024px){
        width: 80px;
    }
    @media(max-width: 680px){
        display: none !important;
    }
    .hamberger{
        cursor: pointer;
        img{
            @media(max-width: 768px){
                width: 100%;
                max-width: 28px;
            }
        }
        
    }
    .chat-section{
        @extend .flex-center;
        flex-direction: column;
        img{
            width: 100%;
            max-width: 80px;
            @media(max-width: 1440px){
                    width: 100%;
                    max-width: 80px;
            }
            @media(max-width: 768px){
                    width: 100%;
                    max-width: 50px;
            }
        }
        a{
            &:nth-child(1){
                padding-bottom: 40px;
            }
        }
    }
}


.content-section{
    height: 100vh;
}
.swiper-container,
.swiper-wrapper,
.swiper-slide{
  width: 100%;
  height: 100%;
}
.swiper-slide {
    font-size: rem(18px);
    height: 100%;      
 }
.swiper-pagination{
    display: flex;
    flex-direction: column;
    .swiper-pagination-bullet{
        margin-bottom: 22px;
    }
}

.banner-section{
    width: 100%;
    height: 100vh;
}
.competition-home{
    width: 100%;
    height: 965px;
}
#requeir-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#nav-panel{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 80px;
    right: 180px;
    z-index: 999;
    background: url('../images/body/nav-panel.jpg') no-repeat;
    background-size: cover;
    display: none;
    
}