#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;

  img{
    width: 100px;
  }

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}

  @-webkit-keyframes spin {
      0%   { 
          // transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
          opacity: 0;
      }
      100% {
          // transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
          opacity: 1;
      }
  }
  @keyframes spin {
      0%   { 
          // transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
          opacity: 0;
      }
      100% {
          // transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
          opacity: 1;
      }
  }

  #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background: #fff;
      z-index: 1000;
      transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
  }

  #loader-wrapper .loader-section.section-left {
      left: 0;
  }

  #loader-wrapper .loader-section.section-right {
      right: 0;
  }

  /* Loaded */
  .loaded #loader-wrapper .loader-section.section-left {
              transform: translateX(-100%);  
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-right {
      transform: translateX(100%);    
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader {
      opacity: 0;  
      transition: all 0.1s ease-out;
  }
  .loaded #loader-wrapper {
      visibility: hidden;
                
              transition: all 0.1s 0.1s ease-out;
  }
  
  /* JavaScript Turned Off */
  .no-js #loader-wrapper {
      display: none;
  }
  .no-js h1 {
      color: #222222;
  }

  #content {
      margin: 0 auto;
      padding-bottom: 50px;
      width: 80%;
      max-width: 978px;
  }  