.aod-media{
    scroll-behavior: smooth
}
.video-section{
    width: 100%;
    height: 100%;
    .video-wrapper-main{
        padding-top: 80px;
        .title-header{
            padding-top: 47px;
        }
        
        .video-slider{
            position: relative;
            .swiper-slide {
                background: #fff0;
            }
            .pre-section, .swiper-button-prev {
                position: absolute;
                top: 19px;
                bottom: 0 !important;
                left: -42px;
                width: 15%;
                height: 100%;
                z-index: 999;
                cursor: url(foo.cur), url('../images/media/left-btn.png'), auto;
                &::after{
                    content: '' !important  ;
                }
                &:focus{
                    outline: none;
                    border: none;
                }
            }
            .next-section, .play-btn-right{
                position: absolute;
                top: 0;
                bottom: 0;
                right: -40px;
                width: 15%;
                z-index: 99;
                transition: cursor 800ms ease-out;
                
                cursor: url(foo.cur), url('../images/media/right-btn.png'), auto !important;
                &:focus{
                    outline: none;
                    border: none;
                }
                
            }
            .video-slide{
                
                .swiper-slide{
                    max-width: 530px;
                    .vid{
                        position: relative;
                        .vid-bg{
                            width: 100%;
                        }
                        .play{
                            cursor: pointer;
                            width: 60px;
                            height: 60px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50% , -50%);
                        }
                    }
                    .content{
                        padding-top: 25px;
                        p{
                            font-family: $mont-semibold;
                            font-size: rem(18px);
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        .doc-slider{
            padding-bottom: 35px;
            position: relative;
            .pre-section, .swiper-button-prev {
                position: absolute;
                top: 19px;
                bottom: 0 !important;
                left: -42px;
                width: 15%;
                height: 100%;
                z-index: 999;
                cursor: url(foo.cur), url('../images/media/left-btn.png'), auto;
                &::after{
                    content: '' !important  ;
                }
                &:focus{
                    outline: none;
                    border: none;
                }
            }
            .next-section, .play-btn-right{
                position: absolute;
                top: 0;
                bottom: 0;
                right: -40px;
                width: 15%;
                z-index: 999;
                transition: cursor 300ms;
                cursor: url(foo.cur), url('../images/media/right-btn.png'), auto !important;
                &:focus{
                    outline: none;
                    border: none;
                }
            }
            .swiper-slide{
                .doc{
                    height: 350px;
                    border: 1px solid #202330;
                    padding: 40px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    background: #fff;
                    h5{
                        font-family: $mont-light;
                        font-size: rem(40px);
                        color: #202330;
                        letter-spacing: -0.8px;
                        line-height: 40px;
                        text-align: center;
                        @media(max-width: 1440px){
                            font-size: rem(28px);
                        }
                            
                        
                    }
                    span{
                        font-family: $regular;
                        font-size: rem(18px);
                        color: #84868D;
                        line-height: 30px;
                    }
                    button{
                        margin-top: 17px;
                    }
                }
            }
        }
    }
    

}
.gallary-section{
    padding-top: 80px;  
}
.gallery-wrp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 80px;
    padding-bottom: 70px;
    @media(max-width: 1440px){
        grid-gap: 30px;
    }
    @media(max-width: $device-md){
        grid-template-columns: 1fr;;
    }
    .gal-item{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:nth-child(2){ 
            transform: translateY(60px);
            @media(max-width: $device-md){
                transform: translateY(0px);
            }
            .gb-wrp{
                background: url('../images/media/gl-bg2.jpg');
            }
        }
        .gb-wrp{
            background: url('../images/media/gl-bg1.jpg');
            width: 100%;
            max-width: 760px;
            height: 760px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width: 1440px){
                height: auto;
                padding: 30px;
            }
                .gallery-inside{
                    background-color: #fff;
                    img{
                        width: 100%;
                        height: auto;
                        padding: 80px;
                        border: 7px solid #000;
                        border-radius: 3px;
                        @media(max-width: 1440px){
                            padding: 50px;
                        }
                    }
                }
            
        }
        .content{
            padding:40px 0;
            p{
                font-family: $mont-light;
                font-size: rem(24px);
                color: #232737;
                letter-spacing: -0.8px;
                line-height: 40px;
                @media(max-width: $device-md){
                    font-size: rem(30px);
                }
                @media(max-width: $device-xs){
                    font-size: rem(24px);
                }
            }
            span{
                font-family: $regular;
                font-size: 18px;
                color: #999BA3;
                line-height: 30px;
            }
        }
    }
    
}