.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-beetween{
    display: flex;
    justify-content: space-between;
}

.main-btn{
    background-color: #004C98;
    color: #fff;
    width: 100%;
    max-width: 200px;
    height: 55px;
    border-radius: 0px;
    font-family: $second-font;
    font-size: 15px;
    letter-spacing: 1px;
    @media(max-width: 1024px){
        max-width: 150px;
        height: 45px;
        font-size: 12px;
    }
}
.second-btn{
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    padding: 17px;
    border-radius: 0;
    color: #000;
    font-family: $second-font;
    font-size: rem(15px);
    letter-spacing: 1px;
    &:hover{
        background-color: #fff;
        color: #000;
    }
}

.cnt-input{
    height: 55px;
    background-color: #fff0;
    border: 1px solid #ccc;
    border-radius: 0px;
    font-family: $regular;
    font-size: 18px;
    color: #fff;
    
}
.cnt-btn{
    width: 100%;
    height: 55px;
    border-radius: 0;
    font-family: $second-font;
    font-size: 15px;
    letter-spacing: 1px;
}

.title-header{
    display: flex;
    padding-bottom: 40px;
    img{
        padding-right: 19px;
    }
}

.eligible-ul{
    li{
        font-family: $regular;
        font-size: 18px;
        color: #202330;
        padding-bottom: 22px;
        position: relative;
        @media(max-width: 1024px){
            font-size: 14px;
        }
        &::before{
            content: '';
            width: 10px;
            height: 10px;
            background: black;
            position: absolute;
            top: 7px;
            left: -24px;
            transform: rotate(45deg);
        }
    }
}


.faq-footer{
    margin-left: 60px !important;
    margin-right: 100px !important;
    position: relative;
    z-index: 999;
  }

  .download-sec{
    button{
        font-size: 14px !important;
        margin-bottom: 5px !important;
        @media(max-width: 1024px){
            font-size: 12px !important;
        }
        @media(max-width: 768px){
            max-width: 100%;
        }
    }
}