.mobile-navigation-wrap{
  display: none;
}
@media(max-width: 680px){
  .mobile-navigation-wrap{
      display: block;
      position: fixed;
      top: 0;
      z-index: 99999;
      background-color: #fff;
      width: 100%;
      height: 70px;
      .mobile-navigation{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0px 24px;
        .mobile-text{
          span{
            font-family: $second-font;
            font-size:14px;
            color: #202335;
            line-height: 15px;
            letter-spacing: 0.46px;
            @media(max-width: 425px){
              font-family: "montbold";
              font-size: 12px;
              color: #202335;
              line-height: 10px;
              letter-spacing: 0.46px;
            }
          }
        }
      }
  }
  
}

.data ul{
  display: none;
}
.removeul{
  display: block !important;
}