@charset "utf-8";

@font-face {
  font-family: 'montextralight';
  src: url('../fonts/mont/fontfabric---mont-extralight-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'montbold';
  src: url('../fonts/mont/fontfabric---mont-bold-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'montregular';
  src: url('../fonts/mont/fontfabric---mont-regular-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montsemibold_italic';
  src: url('../fonts/mont/fontfabric---mont-semibold-italic-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-semibold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montsemibold';
  src: url('../fonts/mont/fontfabric---mont-semibold-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montlight';
  src: url('../fonts/mont/fontfabric---mont-light-webfont.woff2') format('woff2'),
       url('../fonts/mont/fontfabric---mont-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'CanelaWeb';
  src: url('../fonts/canela/CanelaWeb-Thin.woff2') format('woff2'),
      url('../fonts/canela/CanelaWeb-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CanelaRegular';
  src: url('../fonts/canela/CanelaWeb-Regular.woff2') format('woff2'),
      url('../fonts/canela/CanelaWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'chapazaregular';
  src: url('../fonts/chapaza/chapaza-webfont.woff') format('woff2'),
       url('../fonts/chapaza/chapaza-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

//fonts
$font-h1: 'chapazaregular';
$font-p: 'montextralight';
$regular: 'montregular';
$mont-light: 'montlight';
$second-font: 'montbold';
$mont-semibold: 'montsemibold';
$bold-italic:  'montsemibold_italic';
$moni-semibold-italic:  'montsemibold_italic';
$canela-web: 'CanelaWeb';
$canela-regular: 'CanelaRegular';


//colors
$h1-color: #202330;
$body-font-color: #232737;

$spacing-unit: 30px;

// $devices
$device-xs: 480px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;
$device-slid-half: 1160px;

//margin bottom classs
$mb-classes: 0, 10, 15, 20, 25, 30, 40, 50, 60;

@mixin respond-to($min,
$max) {
  @if $min==null {
    @media (max-width: $max - 1) {
      @content;
    }
  }
  @else if $max==null {
    @media (min-width: $min) {
      @content;
    }
  }
  @else {
    @media (min-width: $min) and (max-width: $max - 1) {
      @content;
    }
  }
}

@mixin respond-from($min, $max){
  @if $min == null{
    @media (max-width: $max - 1) {
      @content;
    }
  } @else if $max == null{
    @media (min-width: $min) {
      @content;
    }
  } @else{
    @media (min-width: $min) and (max-width: $max - 1) {
      @content;
    }
  }
}

@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;
}


@mixin text-align($rule, $breakpoint, $fallback) {
  text-align: $rule;
  @include respond-to(max, $breakpoint) {
    text-align: $fallback;
  }
}

@mixin btn($bgc, $color, $lighting: 'darken', $ammount: 4, 
$padding: 6px 20px) {
  @if $bgc != 'null' { background-color: $bgc; }
  @if $color != 'null' { color: $color; }
  @if $padding != 'null' { padding: $padding }
  &:hover, &:focus{
    @if($lighting == 'darken'){
      @if $bgc != 'null' { background-color: darken($bgc, $ammount); }
      @if $color != 'null' { color: darken($color, $ammount/2); }
    }
    @if ($lighting == 'lighten'){
      @if $bgc != 'null' { background-color: lighten($bgc, $ammount); }
      @if $color != 'null' { color: lighten($color, $ammount/2); }
    }
  }
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function rem($rem) {
  @return ($rem / 16px)+rem;
}

@import
  "_base",
  "_animation-change",
  "_loader",
  "_layout",
  "_mix",
  "_home",
  "_dechange",
  "_about",
  "_media",
  "_competition",
  "_faq",
  "_nav",
  "_footer";
