<!DOCTYPE html>
<html lang="en"{% if isProd != true %} class="dev"{% endif%}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ meta.title }}</title>
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/lib.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/main.css">
    <link rel="shortcut icon" href="{{ baseUrl }}/assets/images/" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

    
</head>
<body   class="onload{% if bodyClass %} {{ bodyClass }}{% endif %}">
  {% include "partials/left-nav.njk" %}
  {% include "partials/utils.njk" %}
  {% include "partials/mobile-nav.njk" %}
  {% block content %} {% endblock %}
  {% include "partials/footer-faq.njk" %}
  {% include "partials/right-nav.njk" %}
  <script>
    var siteBaseUrl = '{{ baseUrl }}';
  </script>
  <script src="{{ baseUrl }}/assets/js/lib.js"></script>
  <script src="{{ baseUrl }}/assets/js/main.js"></script>
</body>
</html>