{% extends "layouts/default.njk" %}
{% set bodyClass = "aod-about" %}
{% block content %}
    <section class="about-section middel-sec">
        <div id="about-banner-video" class="bg-section">
            <div class="inner-container">
                <div class="short-nav">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="#">About PCC</a>
                        </li>
                    </ol>
                </div>

                <h3 class="main-banner-tittle-ani">ABOUT PORT CITY COLOMBO
                </h3>

                <div class="video-section">
                    {# <a href="https://www.youtube.com/embed/sn2hlo7TmtA" data-fancybox>
                    <div class="icon">
                        <img src="{{ baseUrl }}/assets/images/about/video-play.svg" alt=""> 
                    </div>
                    </a> #}
                    <video id="vid1" poster="{{ baseUrl }}/assets/images/about/video.jpg" class="video-js vjs-default-skin" controls="controls"  width="640" height="264" data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://youtu.be/sn2hlo7TmtA"}] }'></video>

                    {# <iframe width="100%" height="500" src="https://www.youtube.com/embed/sn2hlo7TmtA?rel=1&showinfo=0&autohide=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe> #}
                    {# <iframe width="100%" height="" src="https://www.youtube.com/embed/sn2hlo7TmtA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}
                </div>
            </div>
        </div>

        <div id="about-concept" class="ab-sec bg-section">
            <div class="inner-container">
                <div class="concept-wrap ">
                    <div class="img-sec txt ">
                        <img class="pContent " src="{{ baseUrl }}/assets/images/about/porcity-concept.jpg" alt="">
                        <div class="white-panel"></div>
                    </div>
                    <div class="content-sec">
                        <h2 class="text-uppercase">The Vision</h2>
                        <p class="regular-p">
                            Strategically located at the epicentre of South Asia, Port City, Colombo offers access to a thriving region poised for future expansion as a key link between Asia and the West.
                        </p>
                        <p class="regular-p">
                            The vision of the project is to convert Port City Colombo, to an exemplar city providing the highest quality commercial, entertainment, medical, education and lifestyle opportunities. It will be recognised as a catalyst for growth, a place that fuses the culture and energy of a nation with international best practice.
                        </p>
                        <p class="regular-p">
                            Once this spectacular megapolis converts to reality by the year 2030; the city will home to a third of Sri Lanka’s population and projected to contribute over 40% of the nation’s economy, transforming Sri Lanka into a high-income global player in logistics, manufacturing and IT, getting us closer to the objective of transitioning Sri Lanka to a developed nation.
                        </p>

                        <a href=" https://www.portcitycolombo.lk/about">
                            <button class="btn btn-primary main-btn text-uppercase">read more</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="porpes" class=" bg-section">
            <div class="inner-container">
                <div class="concept-wrap">

                    <div class="content-sec">
                        <h2 class="text-uppercase">The Competition</h2>
                        <p class="regular-p">
                            The competition is professionally curated to the highest standards, and it is overseen by an independent panel of industry experts, who are highly celebrated in the world of design and architecture. By partaking in this, the youth will be inspired to dig deep into their core creative nature and compete in a high profiled competition, beside top-tier industry professionals who will be guiding and grooming the youngsters to tap into their true potential.
                        </p>
                        <p class="regular-p">
                            The ultimate goal of the competition is to make you, our valued citizens, a part of this great movement in making a difference in the future of Sri Lanka. That’s why we collaborate with our young, the real future of our world, to see the light of Port City Colombo and envision a future that is a blend of innovation, creativity and sustainable living.
                        </p>

                    </div>
                    {# <div class="img-sec txt">
                        <img class="" src="{{ baseUrl }}/assets/images/about/porcity-concept2.jpg" alt="">
                    </div> #}

                    <div class="img-sec txt ">
                        <img class="" src="{{ baseUrl }}/assets/images/about/porcity-concept2.jpg" alt="">
                        <div class="white-panel"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="port-sub-footer">
            <img class="trans" src="{{ baseUrl }}/assets/images/about/trans-sub-footer.png" alt="">
            <div class="wrap-colm-sec">
                <div class="port-colombo">
                    <div class="wrap-sec">
                        <img src="{{ baseUrl }}/assets/images/competition/comp-logo.svg" alt="">
                        <span>PORT CITY COLOMBO</span>
                    </div>
                </div>
                <div class="port-dis-link">
                    <p >
                        To learn more, please visit to,
                    </p>
                    <a href="https://www.portcitycolombo.lk/" target="_blank">portcitycolombo.lk</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}