{% extends "layouts/default.njk" %}
{% set bodyClass = "aod-competition"  %}
{% block content %}
    <section id="competioin-wrapper" class="middel-sec bg-section">
        <div class="inner-container">
            <ul class="transition">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="tab-wrapper">
                <div class="tab-nav">
                    <a href="{{ baseUrl }}/competition-one.html" class="com-btn com-one ">
                        <div >
                            <span>COMPETITION ONE</span>
                            <h6>BEACH SCULPTURE – DREAM
                            </h6>
                        </div>
                    </a>
                    <a href="{{ baseUrl }}/competition-two.html" class="com-btn com-two bg-color-set">
                        <div >
                            <span>COMPETITION TWO</span>
                            <h6>INTERACTIVE WALL – VITALITY</h6>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <main >
            <div class="comp-banner">
                <div class="inner-container">
                    <div class="wrap-head">
                        <div class="short-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="#">INTERACTIVE WALL – VITALITY</a>
                                </li>
                            </ol>
                        </div>
                        <h3 class="text-uppercase">INTERACTIVE WALL –
                            <a href="#" class="dream-font">
                                VITALITY
                            </a>
                        </h3>
                    </div>
                    {# <img class="competion-banner-left" src="{{ baseUrl }}/assets/images/competition/rainbow.svg" alt=""> #}
                    <div class="competion-banner-left">
                        <svg width="1304px" height="820px" viewbox="0 0 1304 820" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <defs>
                                <lineargradient x1="0%" y1="69.7776327%" x2="83.1728981%" y2="23.0386539%" id="linearGradient-1">
                                    <stop stop-color="#FFFB87" offset="0%"></stop>
                                    <stop stop-color="#FF72D4" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient x1="4.22646605%" y1="69.9317573%" x2="95.6047454%" y2="30.0349162%" id="linearGradient-2">
                                    <stop stop-color="#EAEC50" offset="0%"></stop>
                                    <stop stop-color="#DD65BA" offset="48.3873522%"></stop>
                                    <stop stop-color="#6654DE" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient x1="95.711263%" y1="28.1379186%" x2="0%" y2="69.026511%" id="linearGradient-3">
                                    <stop stop-color="#76EAF5" offset="0%"></stop>
                                    <stop stop-color="#FE7DD8" offset="52.3147171%"></stop>
                                    <stop stop-color="#FBFC8E" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient x1="35.2175151%" y1="0%" x2="81.1075116%" y2="92.5884434%" id="linearGradient-4">
                                    <stop stop-color="#53EEFF" offset="0%"></stop>
                                    <stop stop-color="#FA6AFF" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient x1="42.8084326%" y1="0%" x2="65.1335697%" y2="92.5884434%" id="linearGradient-5">
                                    <stop stop-color="#34B3D2" offset="0%"></stop>
                                    <stop stop-color="#AC18B3" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient x1="95.0135031%" y1="43.7623838%" x2="4.74247685%" y2="56.1027282%" id="linearGradient-6">
                                    <stop stop-color="#FDFFA9" offset="0%"></stop>
                                    <stop stop-color="#7EFFFE" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient x1="96.8394482%" y1="42.4932138%" x2="9.50920791%" y2="56.2111428%" id="linearGradient-7">
                                    <stop stop-color="#D9FB59" offset="0%"></stop>
                                    <stop stop-color="#68BBFF" offset="100%"></stop>
                                </lineargradient>
                            </defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="the-competition-1.0" transform="translate(-80.000000, -110.000000)">
                                    <g id="Group" transform="translate(80.000000, 110.000000)">
                                        <path d="M215,406.037736 L307.766667,311 L336,530 L215,406.037736 Z M356,551 L352,265.142857 L384,232 L456,306.571429 L384,580 L356,551 Z M425,538 L494,344 L563,410.042553 L425,538 Z" id="Combined-Shape-Copy" fill="#FFFFFF"></path>
                                        <polygon id="Path-6" fill="url(#linearGradient-1)" opacity="0.6" points="336 530 215 406 1 530 0 730"></polygon>
                                        <polygon id="Path-8" fill="url(#linearGradient-2)" opacity="0.55" points="215 406 308 311 0 487 0 530"></polygon>
                                        <polygon id="Path-9" fill="url(#linearGradient-3)" opacity="0.5" points="356 551 384 580 0 820 0 770"></polygon>
                                        <polygon id="Path-11" fill="url(#linearGradient-4)" opacity="0.5" points="352 265 160 0 275 0 384 232"></polygon>
                                        <polygon id="Path-12" fill="url(#linearGradient-5)" opacity="0.5" points="384 232 456 307 316 0 275 0"></polygon>
                                        <polygon id="Path-13" fill="url(#linearGradient-6)" opacity="0.5" points="494 344 1235 91 1304 149 563 411"></polygon>
                                        <polygon id="Path-14" fill="url(#linearGradient-7)" opacity="0.5" points="425 538 563 411 1304 149 1255 248"></polygon>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>

                    <div class="competition-banner-content">
                        <blockquote>
                            “Vitality shows in not only the ability to persist but the ability to start over.” - F. Scott Fitzgerald –</blockquote>
                        <p class="regular-p">Theming the competition as “Vitality”, is an accurate representation of the Port City Colombo boulevard, which is the hub of all things exciting, fusing an extremely lively environment, painted by a clash of multicultural representation, energized by the thrilling vivacity of youth and modern technology. This is where vitality thrives, and the place where we become all as one.
                        </p>
                        <p class="regular-p">As one of the key focal points in Port City Colombo, this common ground will be visited by million pairs of eyes every single day, naturally marking it as a place that can seed a change in the world. This is where the interactive wall will be constructed, at the heart of the urban zing, witnessed by millions.
                        </p>
                        <p class="regular-p">Let this be the opportunity you’ve been waiting for. Extract the concept of “vitality” and fuse it to your vision of how the future should be forged. Let this interactive wall be your voice, a projection of yourself and to show the true power of your inner drive.
                        </p>
                    </div>

                    <div class="competion-timeline-banner">
                        <div class="competion-timeline">
                            <h2 class="timeline-font">TIMELINE</h2>
                            <div class="timeline-row">
                                <span style="padding-left: 8px;">1</span>
                                <div class="content-row">
                                    <p class="time-head">Launch of the competition - 29th July 2020
                                    </p>
                                    {# <p class="time-txt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p> #}
                                </div>
                            </div>
                            <div class="timeline-row">
                                <span>2</span>
                                <div class="content-row">
                                    <p class="time-head">
                                        Closing Submissions – 8th September 2020</p>
                                    {# <p class="time-txt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p> #}
                                </div>
                            </div>
                            <div class="timeline-row">
                                <span>3</span>
                                <div class="content-row">
                                    <p class="time-head">Round 1 & 2 Jury evaluations – 9th to 22nd September 2020</p>
                                    {# <p class="time-txt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p> #}
                                </div>
                            </div>
                            <div class="timeline-row">
                                <span>4</span>
                                <div class="content-row">
                                    <p class="time-head">Selection of Top 3 submissions – 23rd September 2020</p>
                                    {# <p class="time-txt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p> #}
                                </div>
                            </div>
                            <div class="timeline-row">
                                <span>5</span>
                                <div class="content-row">
                                    <p class="time-head">Mentoring sessions – 23rd September to 18th October 2020</p>
                                    {# <p class="time-txt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p> #}
                                </div>
                            </div>
                            <div class="timeline-row">
                                <span>6</span>
                                <div class="content-row">
                                    <p class="time-head">Announcing the winner – 4th Week of October 2020</p>
                                    {# <p class="time-txt">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p> #}
                                </div>
                            </div>
                        </div>
                        <div class="competion-timeline-image">
                            <div class="competion-one-slide">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="{{ baseUrl }}/assets/images/competition/interactivewall1.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="{{ baseUrl }}/assets/images/competition/interactive-wall-2.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="{{ baseUrl }}/assets/images/competition/interactive-wall-3.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="{{ baseUrl }}/assets/images/competition/interactive-wall-4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>

                                <div class="download-images-pack2">
                                <p>
                                    <a href="{{ baseUrl }}/assets/zip/wall.zip" download="download">Click HERE
                                    </a>
                                    to download the image pack
                                </p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="download-images-pack">
                <p>
                    <a href="{{ baseUrl }}/assets/zip/wall.zip" download="download">Click HERE
                    </a>
                    to download the image pack
                </p>
            </div>

            {#end com banner #}

        </main>

    </section>
    <section>
        <div class="middel-sec">
            <div class="inner-container">
                <div class="eligibale">
                    <div class="inner-container">
                        <h2 class="timeline-font">ELIGIBILITY CRITERIA</h2>
                        <div class="el-wrap">
                            <div class="el-left">
                                <p class="regular-p">All the participants must be Sri Lankan undergraduate/graduate student currently enrolled in any registered University in Sri Lanka or studying overseas, who are reading in the fields of Art, Architecture, Design, Engineering and/or any other programme that aligns with creativity.</p>

                                <p class="regular-p">Former students who have graduated within the last year, are welcome to participate in the competition if the above criteria are met.</p>
                                <p class="regular-p">The participation can be done as a solo artist or as a team maximum of 03 students, while all the team members need to be within the eligibility criteria stated above.Summary</p>
                            </div>
                            <div class="el-right">
                                <ul class="eligible-ul">
                                    <li>All applicants must be Sri Lankan nationals.</li>
                                    <li>All applicants should be undergraduate students currently enrolled in any registered university in Sri Lanka or overseas, who are reading in the fields of Art, Architecture, Design, Engineering and/or any other programme that aligns with creativity.</li>
                                    <li>Graduates who have completed their degree in the academic year 2019/2020 are also eligible to apply, provided that criteria 1 & 2 above are met. Proof of completion of the degree has to be submitted.</li>
                                    <li>In order to validate your application, the national identity card number is a must.</li>
                                    <li>An applicant can apply as a solo applicant and as a member of a team. (A maximum of 2 submissions). An applicant cannot make multiple registrations by using the same NIC number. (ex. If an applicant has already made a registration as a solo contestant to either of competitions, and still willing to submit a group entry to the other competition, same NIC holder should avoid registering as the principal contestant)</li>
                                    <li>If an applicant is participating as a team, the team is limited to a maximum of 3 members</li>
                                    <li>The submission file(s) should be less than 20mb, in PDF format.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rules">
                    <div class="inner-container">
                        <h2 class="timeline-font">RULES & GUIDELINES</h2>

                        <div class="rules-sec">
                            <ul class="eligible-ul">
                                <li>The design project submitted to the project should be a unique concept</li>
                                <li>An individual can participate as a solo competitor and as one of the team limited to 03 entrants per team.</li>
                                <li>A competitor can submit, 1 concept per competition irrespective of competing as a solo artist or as a team.</li>
                                <li>The submission must be in 2 A3 size pages, which needs to include a visual of the design in 2 angles, materials proposed for the design, brief on the concept.</li>
                                <li>The submission file(s) should be less than 20mb, in PDF format.</li>
                                <li>Please do not add any personal details on the submission materials (A3 PDFs), as we wish to advance the competition impartially.</li>
                                <li>The winning concept will be constructed at the Marina beach in Port City Colombo premises.</li>
                                <li>The lucky winner will cooperate with an international company in constructing the sculpture</li>
                                <li>The maximum dimensions for the sculpture are 38 meters (length) x 1.8 meters (height)
                                </li>
                                {% include "partials/competition-download-button.njk" %}
                            </ul>

                        </div>
                    </div>
                </div>

                {% include "partials/comp-outline.njk" %}

                <div class="registration">
                    <div class="inner-container">
                        <div class="header-fnt">
                            <h2 class="timeline-font">REGISTRATION PROCESS</h2>
                            <h2 class="step-fnt">Just 4 easy steps</h2>
                            <img class="right-rainbow-path" src="{{ baseUrl }}/assets/images/competition/rule-path.png" alt="">
                            <div class="progress-rule">
                                <img class="path" src="{{ baseUrl }}/assets/images/competition/path-dot.png" alt="">
                                <div class="path-box-wrap">
                                    <div class="box1">
                                        <img class="step-box" src="{{ baseUrl }}/assets/images/competition/step01.png" alt="">
                                        <div class="wrap-cont">
                                            <span>Read the Rules and Guidelines</span>
                                            <br>
                                            <span>make sure you are eligible!</span>
                                        </div>
                                    </div>
                                    <div class="box1">
                                        <img class="step-box" src="{{ baseUrl }}/assets/images/competition/step02.png" alt="">
                                        <div class="wrap-cont">
                                            <span>Create a Login for You/ Your Team Via Submission Portal</span>
                                        </div>
                                    </div>
                                    <div class="box1">
                                        <img class="step-box" src="{{ baseUrl }}/assets/images/competition/step03.png" alt="">
                                        <div class="wrap-cont">
                                            <span>Upload Your Design & Proposal
                                            </span>
                                            <br>
                                            <span>use the index number!</span>
                                        </div>
                                    </div>
                                    <div class="box1">
                                        <img class="step-box" src="{{ baseUrl }}/assets/images/competition/step04.png" alt="">
                                        <div class="wrap-cont">
                                            <span>Find us on Social Media</span>
                                            <br>
                                            <span>Like us and share the news!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="competion-submition">

                    <div class="submition-section">
                        <h2 class="timeline-font">SUBMISSIONS</h2>
                        <p>Ready to take the challenge and prove your strength to the world? Let’s make it happen</p>

                       <button class="btn btn-primary second-btn">TAKE ME TO SUBMIT PORTAL</button>
                    </div>
                    <div class="need-help-section">
                        <h2 class="timeline-font">NEED HELP?</h2>
                        <p>Need to know more about the competition before you head on?
                        </p>

                        <a href="{{ baseUrl }}/faq.html" class="btn btn-primary second-btn">GO TO FAQ</a>
                    </div>

                </div>

            </div>

            {# jury  #}
            {% include "partials/jury.njk" %}
            {# end jury  #}

            <div class="inner-container">
                <div class="awards">
                    <h2 class="text-uppercase text-center port-text ">AWARDS</h2>

                    <div class="wrap-winner-sec">
                        <div class="the-winner">
                            <div class="wrap-suv-title2">
                                <h5 class="winner-sub-title">The Winner</h5>
                            </div>

                            <div class="wrap-winner-img">
                                <img src="{{ baseUrl }}/assets/images/competition/awards1.jpg" alt="">
                                <span>
                                    Cash Price of 250,000 LKR</span>
                            </div>
                        </div>
                        <div class="top-three-sec">
                            <div class="wrap-suv-title">
                                <h5 class="winner-sub-title">Top Three</h5>
                                <p class="text-center">From round one</p>
                            </div>

                            <div class="top-three">
                                <div class="wrap-winner-img">
                                    <img src="{{ baseUrl }}/assets/images/competition/awards2.jpg" alt="">
                                    <span>
                                        {# Lorem ipsum dolor notoque</span> #}
                                    </div>
                                    <div class="wrap-winner-img">
                                        <img src="{{ baseUrl }}/assets/images/competition/awards2.jpg" alt="">
                                        <span>
                                            {# Lorem ipsum dolor notoque</span> #}
                                        </div>
                                        <div class="wrap-winner-img">
                                            <img src="{{ baseUrl }}/assets/images/competition/awards2.jpg" alt="">
                                            <span>
                                                {# Lorem ipsum dolor notoque</span> #}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        {# <div class="inner-container">
                            <div class="Honorary-Mention">
                                <h2>Honorary Mention</h2>
                                <div class="honorary-items">
                                    <div class="iteam">
                                        <span>Lorem ipsum dolor notoque nulla
                                        </span>
                                    </div>
                                    <div class="iteam">
                                        <span>Lorem ipsum dolor notoque nulla
                                        </span>
                                    </div>
                                    <div class="iteam">
                                        <span>Lorem ipsum dolor notoque nulla
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div> #}
                    </div>
                </section>
            {% endblock %}