{% extends "layouts/default.njk" %}
{% set bodyClass = "aod-faq" %}
{% block content %}
  <div class="middel-sec">
    <div class="inner-container" style="position: relative;">
      {# <img class="bg-posi" src="{{ baseUrl }}/assets/images/faq/faq-banner.png" alt=""> #}
      <section class="faq-wrapper faqbg">

        <div class="short-nav">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{ baseUrl }}/index.html">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <a href="#">Faq</a>
            </li>
          </ol>
        </div>
        <h3 class="main-banner-tittle-ani">FREQUENTLY ASKED QUESTIONS</h3>

        <div class="search">
          <input type="email" placeholder="Search for answers">
        </div>

        <div class="quections">

          {% for faqItem in faqItems %}
            <div class="q-item">
              <div class="q-tittle">
                <h5>{{ faqItem.title }}</h5>
              </div>
              <p>{{ faqItem.content }}</p>
            </div>
          {% endfor %}

        </div>
        <div class="wrpa-qa">
          <div class="moreQA">
            <p>Have more questions but not listed above?</p>
            <p >Please send your queries to
              <a href="mailto:PCCSDCenquiry2020@chec.lk">PCCSDCenquiry2020@chec.lk</a>, we'll make sure that you'll get your answers soon.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock %}