{% extends "layouts/default.njk" %}
{% set bodyClass = "aod-home" %}
{% block content %}
    <section class="middel-sec">
        <div class="wrap-over">
            <div class="">
                <div id="banner" class="main-banner banner-section">
                    <div class="scroll-indicator" id="section01" data-scroll-indicator-title=""></div>
                    <div class="banner-text-section">
                        <div class="text-ani-inner">
                            <h1 class="banner-text-ani">Envision The Future</h1>
                        </div>
                        <div class="text-ani-inner">
                            <h2 class="banner-text-ani">Port City Colombo
                                <br>Student Design Competition</h2>
                        </div>

                        <div class="competition-box">
                            <a href="{{ baseUrl }}/competition-one.html" class="box box1">
                                <div class="upper-box">
                                    <span class="comp">COMPETITION</span>
                                    <span class="one">
                                        BEACH SCULPTURE</span>
                                </div>
                                <span class="enter-now">Submissions
                                    <br>
                                    closing on 25th Aug</span>
                            </a>
                            <a href="{{ baseUrl }}/competition-two.html" id="a" class="box box2">
                                <div class="upper-box">
                                    <span class="comp">COMPETITION</span>
                                    <span class="one">
                                        INTERACTIVE WALL</span>
                                </div>
                                 <span class="enter-now">Submissions
                                    <br>
                                    closing on 8th Sep</span>
                            </a>
                        </div>
                    </div>

                    <div class="mask-slider">
                        <div class="overlay">
                            {# <img src="{{ baseUrl }}/assets/images/body/logo-shape.png" alt=""> #}
                        </div>
                        <div class="bg-slider">
                            <div class="swiper-overlay">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <img src="{{ baseUrl }}/assets/images/body/portcity01.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="{{ baseUrl }}/assets/images/body/portcity02.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="{{ baseUrl }}/assets/images/body/portcity03.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="scroll-indicator" id="section02" data-scroll-indicator-title=""></div>
                <div id="home-competition" class="competitionMain competition-home ">

                    <div class="wrap-comp-home">
                        <div class="competition-home-left">
                            <div class="comp-logo">
                                <img src="{{ baseUrl }}/assets/images/competition/comp-logo.svg" alt="">
                            </div>
                            <div class="com-left-discript">
                                <h4 class="reveal">PORT CITY COLOMBO</h4>
                                <h4 class="reveal text-uppercase">Student</h4>
                                <h4 class="reveal">DESIGN COMPETITION</h4>
                                <span>2020</span>
                            </div>
                        </div>

                        <div class="competition-home-discript">
                            <h2>THE COMPETITION</h2>

                            <p class="regular-p">
                                The PCC Student Design Competition; themed as “Envision the Future”, is a unique opportunity for the Sri Lankan youth to bring out their creative talents under the global spotlight, by envisioning the future of Sri Lanka. The aim of the competition is to celebrate the importance of design in the planning and development of Port City Colombo – and portraying it through the eyes of our gifted future generation.
                            </p>

                            <a href="{{ baseUrl }}/competition-one.html">
                                <button class="btn btn-primary main-btn text-uppercase">read more</button>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="scroll-indicator" id="section03" data-scroll-indicator-title=""></div>
                <div class="wrap-detals-section">

                    <div id="requeir-slide" class="DtailsPage">
                        <div class="wrap-requeir">
                            <div class="mid-nav">
                                {# <ul>
                                    <li id="slide1">
                                        <div >ELIGIBILITY</div>
                                    </li>
                                    <li>
                                        <div id="slide2" >AWARDS</div>
                                    </li>
                                    <li>
                                        <div id="slide3" >REQUIREMENTS</div>
                                    </li>
                                    <li>
                                        <div id="slide4">TIMELINE</div>
                                    </li>
                                </ul> #}
                                <div class="menu-slide"></div>
                            </div>
                        </div>

                    </div>
                    <div class="req-slide">

                        <div class="left-panel"></div>
                        <div class="right-panel"></div>
                        <div class="swiper-wrapper">

                            <div class="swiper-slide" data-hash="slide1">
                                <h2>Eligibility</h2>
                                <p class="regular-p">We welcome any Sri Lankan undergraduate/graduate student currently enrolled in any registered University in Sri Lanka or studying overseas, who are reading in the fields of Art, Architecture, Design, Engineering and/or any other programme that aligns with creativity.Former students who have graduated within the last year, are welcome to participate in the competition if the above criteria are met.The participation can be done as a solo artist or as a team maximum of 03 students, while all the team members need to be within the eligibility criteria stated above.</p>
                            </div>
                            <div class="swiper-slide" data-hash="slide2">
                                <h2>Awards</h2>
                                <p class="regular-p">Apart from the global recognition, opportunities for many future commissions and having your design project built in the Port City Colombo, the winners will be awarded cash prizes and official acknowledgement of their talents by an esteemed panel.After the first round of selections, the 3 finalists will receive an award of LKR 50,000 and proceed towards the final phase, where one lucky finalist will emerge as the victor receiving a winning prize of LKR 250,000/-. The runners up will be awarded trophies of recognition, and honourable mentions will be awarded to a selection of gifted artistic souls.</p>
                            </div>
                            <div class="swiper-slide" data-hash="slide13">
                                <h2>Requirements</h2>
                                <p class="regular-p">We will be conducting two competitions featuring your talent in an interactive wall art competition and in a Beach Sculpture competition. You can participate in both as a solo artist or as a team limited to a maximum of 03 contenders.To participate, you are required to register and submit your design proposal to proceed to phase two. The submissions should include a visual of your design from 2 angles, description of the materials used, and the plan of execution. For a comprehensive guideline refer to the competition page.</p>
                            </div>
                            <div class="swiper-slide" data-hash="slide1">
                                <h2>Timeline</h2>
                                <ul>
                                    <li>
                                        <p class="regular-p">01: The official commencement of the competition - 29 july 2020
                                        </p>
                                    </li>
                                    <li>
                                        <p class="regular-p">02: Acceptance of application with project proposals from 29th July through 25th August for Beach Sculpture and 8th September 2020 for Interactive Wall</p>
                                    </li>
                                    <li>
                                        <p class="regular-p">03: Announcing of the top 03 submissions and progressing the competition to stage 02 – conversion of the concept.</p>
                                    </li>
                                    <li>
                                        <p class="regular-p">04: The announcement of the winner of the competition.</p>
                                    </li>
                                    <li>
                                        <p class="regular-p">05: Completion of constructing the artwork.</p>
                                    </li>
                                    <li>
                                        <p class="regular-p">06: Grand finale and the unveiling ceremony.</p>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>

                    <div class="nav-req-sec">
                        <img class="req-left" src="{{ baseUrl }}/assets/images/body/req-left.png" alt="">
                        <img class="req-right" src="{{ baseUrl }}/assets/images/body/req-right.png" alt="">
                    </div>
                </div>

                {# jury  #}
                <div class="scroll-indicator" id="section04" data-scroll-indicator-title=""></div>
                {% include "partials/jury.njk" %}

                <div id="owl-jury" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="jury-item-mobile box1-slide">
                            <img class="jury-img-bnner" src="{{ baseUrl }}/assets/images/jury/newimagemob01.jpg" alt="">
                            <div class="jury-content">
                                <span class="text-uppercase posi">Senior Textile Designer & Lecture</span>
                                <h5>Shilanthi Abayagunawardana</h5>
                                {# <span class="qulification">Adam Robinson Design</span> #}
                            </div>
                            <div class="info">
                                <p class="regular-p">“As you take on this “New World” of opportunity ,be responsible in your freedom , let wisdom of the past navigate you towards clarity, be brave in your creation ,infuse exceptional value and quality which breathes, timelessness !”</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="jury-item-mobile box2-slide">
                            <img src="{{ baseUrl }}/assets/images/jury/newimagemob02.jpg" alt="">
                            <div class="jury-content">
                                <span class="text-uppercase posi">Architect</span>
                                <h5>Ruchi Jayanathan</h5>

                            </div>
                            <div class="info">
                                <p class="regular-p">Sculpture to me - is the art of playing with solid and void, navigating the  nature and soul of the place and materials in use … to provoke a dialogue, an emotion or a spiritual response</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="jury-item-mobile box3-slide">
                            <img src="{{ baseUrl }}/assets/images/jury/newimagemob03.jpg" alt="">
                            <div class="jury-content">
                                <span class="text-uppercase posi">Contemporary Artist & Designer</span>
                                <h5>Anoma Wijewardene</h5>
                            </div>
                            <div class="info">
                                <p class="regular-p">In this cataclysmic and historic moment when public art and statues which are questionable are being torn down it is vital to approach this venture with a deep dive into concept and meaning. Considering the zeitgeist of the moment and also for all time, sharing the universal call for justice and equality, and bringing visual peace and harmony might be a way to approach this opportunity.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="jury-item-mobile box4-slide">
                            <img src="{{ baseUrl }}/assets/images/jury/newimagemob04.jpg" alt="">
                            <div class="jury-content">
                                <span class="text-uppercase posi">PROFESSOR</span>
                                <h5>Eva Williams</h5>
                            </div>
                            <div class="info">
                                <p class="regular-p">As a landscape designer, he often uses appropriate public art to create the highlights of the city. Good public art is the spiritual wealth of a city, which can resonate with people in culture, entertainment and sometimes emotion. When evaluating the success or failure of a public art work, apart from its aesthetic value, we should also consider the social value it brings, for example a sense of belonging, a sense of pride of the city, the embodiment of regional cultural characteristics, the transmission of positive values, and even the solution of social problems.</p>
                            </div>
                        </div>
                    </div>

                </div>
                {# end jury  #}

                <div class="scroll-indicator" id="section05" data-scroll-indicator-title=""></div>
                {# <div id="enter-now" class="competition-home">
                    <div class="enternow">
                        <h2 class="text-uppercase text-center">ENTER NOW!</h2>
                        <p class="regular-p">
                            Have you got what it takes to voice your opinions competing with the visionaries in the industry? Here’s your chance to test your creative drive. Register before [date]
                        </p>

                        <div class="email-section">
                            <div class="email-textboxes">
                                <div class="inputsec">
                                    <input type="text" class="form-control cnt-input"  aria-describedby="emailHelp" placeholder="Name">
                                    <input type="text" class="form-control cnt-input"  aria-describedby="emailHelp" placeholder="Email address">
                                </div>
                                <div class="inputsec">
                                    <input type="text" class="form-control cnt-input"  aria-describedby="emailHelp" placeholder="Password">
                                    <input type="text" class="form-control cnt-input"  aria-describedby="emailHelp" placeholder="Confirm password">
                                </div>
                                
                            </div>
                            <div class="btn-secttion">
                                <button type="button" class="btn btn-outline-primary cnt-btn">REGISTER</button>
                            </div>
                        </div>

                        <hr>

                        <p class="al-reg regular-p">Already registered? And want to submit your work?</p>

                        <div class="email-section">
                            <div class="email-textboxes">
                                <div class="inputsec">
                                    <input type="text" class="form-control cnt-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
                                    <input type="text" class="form-control cnt-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password">
                                </div>
                                
                                
                            </div>
                            <div class="btn-secttion">
                                <button type="button" class="btn btn-outline-primary cnt-btn">LOGIN</button>
                            </div>
                        </div>

                    </div>
                </div> #}

                <div class="competion-submition">

                    <div class="submition-section">
                        <h2 class="timeline-font">ENTER NOW!</h2>
                        <p>Have you got what it takes to voice your opinions competing with the visionaries in the industry? Here’s your chance to test your creative drive. Register Now</p>

                        <button class="btn btn-primary second-btn">TAKE ME TO SUBMIT PORTAL</button>
                    </div>
                    <div class="need-help-section">
                        <h2 class="timeline-font">LOGIN</h2>
                        <p>Already registered? And want to submit your work?</p>

                        <button class="btn btn-primary second-btn">LOGIN</button>
                    </div>

                </div>

                <div class="scroll-indicator" id="section06" data-scroll-indicator-title=""></div>
                <div id="insta" class="">
                    <div class="wrap-insta">
                        <div class="insta-adi">
                            <img src="{{ baseUrl }}/assets/images/insta/instagram.svg" alt="">
                            <h2>#PCCSDC2020</h2>
                        </div>

                        <div class="gallery">
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                            <div class="gal">
                                <img src="{{ baseUrl }}/assets/images/insta/gal01.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}