{% extends "layouts/default.njk" %}
{% set bodyClass = "aod-media" %}
{% block content %}
    <section class="middel-sec">
        <div class="wrap-over">
            <div class="video-section bg-section">
                <div class="inner-container">
                    <div class="video-wrapper-main">
                        <div class="short-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="#">Media</a>
                                </li>
                            </ol>
                        </div>
                        <h3>MEDIA</h3>

                        <div class="title-header">
                            <img src="{{ baseUrl }}/assets/images/media/video.svg" alt="">
                            <h2>VIDEOS</h2>
                        </div>

                        <div class="video-slider">
                            {# <img class="play-btn-right" src="{{ baseUrl }}/assets/images/media/right-btn.svg" alt=""> #}

                            <div class="video-slide">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="vid">
                                            <iframe width="100%" height="300" src="https://www.youtube.com/embed/ywtBQ9bfY0g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

                                        </div>
                                        <div class="content">
                                            <p>Corporate Video | Port City Colombo</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="vid">
                                            {# <img class="vid-bg" src="{{ baseUrl }}/assets/images/media/slide2.jpg" alt="">
                                        <img class="play" src="{{ baseUrl }}/assets/images/about/video-play.svg" alt=""> #}
                                            <iframe width="100%" height="300" src="https://www.youtube.com/embed/EdajYG3bTxY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

                                        </div>
                                        <div class="content">
                                            <p>Port City will be one of the catalysts to make Sri Lanka the center of change in South Asia</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="vid">
                                            {# <img class="vid-bg" src="{{ baseUrl }}/assets/images/media/slide3.jpg" alt="">
                                        <img class="play" src="{{ baseUrl }}/assets/images/about/video-play.svg" alt=""> #}
                                            <iframe width="100%" height="300" src="https://www.youtube.com/embed/E24CSIuMuIU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

                                        </div>
                                        <div class="content">
                                            <p>10 Things You Should Know About Port City Colombo</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="vid">
                                            {# <img class="vid-bg" src="{{ baseUrl }}/assets/images/media/slide1.jpg" alt="">
                                        <img class="play" src="{{ baseUrl }}/assets/images/about/video-play.svg" alt=""> #}
                                            <iframe width="100%" height="300" src="https://www.youtube.com/embed/k4iouM6SNIQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>

                                        </div>
                                        <div class="content">
                                            <p>Grand fireworks display | Port City Colombo</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="pre-section  swiper-button-prev"></div>
                            <div class="next-section play-btn-right"></div>
                        </div>

                        <div class="document-section">
                            <div class="title-header">
                                <img src="{{ baseUrl }}/assets/images/media/news.svg" alt="">
                                <h2>IMPORTANT DOCUMENTS</h2>
                            </div>

                            <div class="doc-slider">
                                <div class="doc-slide">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="doc">
                                                <h5>Intellectual Property Release</h5>
                                                <div class="bottom-btn-sec">
                                                    <span>PDF / 84kb</span>
                                                    <a href="{{ baseUrl }}/assets/pdf/Intellectual_Property_Release_Form_Team_-_Sculpture_Competition.docx" download>
                                                        <button class="btn main-btn">DOWNLOAD</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="doc">
                                                <h5>Rules & Guidelines</h5>
                                                <div class="bottom-btn-sec">
                                                    <span>PDF / 84kb</span>
                                                    <a href="{{ baseUrl }}/assets/pdf/Rules&Guidelines.pdf" download>
                                                        <button class="btn main-btn">DOWNLOAD</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pre-section swiper-button-doc-prev "></div>
                                <div class="next-section play-btn-doc-right"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-container">
                <div class="gallary-section">
                    <div class="title-header">
                        <img src="{{ baseUrl }}/assets/images/media/camara.svg" alt="">
                        <h2>SUBMISSION GALLERY</h2>
                    </div>

                    <div class="gallery-wrp">
                        <div class="gal-item">
                            <div class="gb-wrp">
                                {# <img src="{{ baseUrl }}/assets/images/media/gl-bg1.jpg" alt=""> #}
                                <div class="gallery-inside">
                                    <img src="{{ baseUrl }}/assets/images/media/gallary-inside/gal-media01.jpg" alt="">
                                </div>

                            </div>

                            <div class="content">
                                <p>Submissions will be visible here in the future.</p>
                                {# <span>by Imani De Soysa</span> #}
                            </div>
                        </div>
                        <div class="gal-item">
                            <div class="gb-wrp">
                                {# <img src="{{ baseUrl }}/assets/images/media/gl-bg1.jpg" alt=""> #}
                                <div class="wht-bg">
                                    <div class="gallery-inside">
                                        <img src="{{ baseUrl }}/assets/images/media/gallary-inside/gal-media02.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <p>Submissions will be visible here in the future.</p>
                                {# <span>by Imani De Soysa</span> #}
                            </div>
                        </div>

                    </div>
                    <div class="gallery-wrp">
                        <div class="gal-item">
                            <div class="gb-wrp">
                                {# <img src="{{ baseUrl }}/assets/images/media/gl-bg1.jpg" alt=""> #}
                                <div class="gallery-inside">
                                    <img src="{{ baseUrl }}/assets/images/media/gallary-inside/gal-media03.jpg" alt="">
                                </div>

                            </div>

                            <div class="content">
                               <p>Submissions will be visible here in the future.</p>
                                {# <span>by Imani De Soysa</span> #}
                            </div>
                        </div>
                        <div class="gal-item">
                            <div class="gb-wrp">
                                {# <img src="{{ baseUrl }}/assets/images/media/gl-bg1.jpg" alt=""> #}
                                <div class="wht-bg">
                                    <div class="gallery-inside">
                                        <img src="{{ baseUrl }}/assets/images/media/gallary-inside/gal-media04.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <p>Submissions will be visible here in the future.</p>
                                {# <span>by Imani De Soysa</span> #}
                            </div>
                        </div>

                    </div>
                    <div class="gallery-wrp">
                        <div class="gal-item">
                            <div class="gb-wrp">
                                {# <img src="{{ baseUrl }}/assets/images/media/gl-bg1.jpg" alt=""> #}
                                <div class="gallery-inside">
                                    <img src="{{ baseUrl }}/assets/images/media/gallary-inside/1file.jpg" alt="">
                                </div>

                            </div>

                            <div class="content">
                               <p>Submissions will be visible here in the future.</p>
                                {# <span>by Imani De Soysa</span> #}
                            </div>
                        </div>
                        <div class="gal-item">
                            <div class="gb-wrp">
                                {# <img src="{{ baseUrl }}/assets/images/media/gl-bg1.jpg" alt=""> #}
                                <div class="wht-bg">
                                    <div class="gallery-inside">
                                        <img src="{{ baseUrl }}/assets/images/media/gallary-inside/2file.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <p>Submissions will be visible here in the future.</p>
                                {# <span>by Imani De Soysa</span> #}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}