<div class="rules">
   <div class="inner-container">
      <h2 class="timeline-font">Competition Outline</h2>

      <div class="rules-sec">
         <ul class="eligible-ul">
            <li>All applicants must register through the website to participate in the competition.</li>
            <li>All submissions must be submitted via this website's online submission portal</li>
            <li>The system will sort qualified submissions based on Jury’s markings.</li>
            <li>Twenty (20) submissions will be shortlisted for each competition.</li>
            <li>Out of the shortlisted 20 submissions, three (03) submissions will be shortlisted for Top 03 Awards and prizes.</li>
            <li>The selected final round submissions will mandatorily go through an expert panel for its feasibility study</li>
            <li>A special design consultant will conduct a 02 weeks’ special workshop with the 3 finalist to further develop selected proposals.</li>
            <li>Honorary mentions will be decided and selected by a panel of experts.</li>
         </ul>

      </div>
   </div>
</div>