<div class="download-sec">
 <a href="{{ baseUrl }}/assets/pdf/RulesGuidelines-English.pdf" download>  <button class="btn btn-primary main-btn">RULES & GUIDELINES <br>  in English </button>   </a>
 <a href="{{ baseUrl }}/assets/pdf/RulesGuidelines-Sinhala.pdf" download>  <button class="btn btn-primary main-btn">RULES & GUIDELINES <br> in Sinhale </button>   </a>
 <a href="{{ baseUrl }}/assets/pdf/RulesGuidelines-Tamil.pdf" download>  <button class="btn btn-primary main-btn">RULES & GUIDELINES <br> in Tamil  </button>   </a>
</div>