<div class="faq-footer">
  <footer>
    <div class="port-logo">
      <img src="{{ baseUrl }}/assets/images/footer/port-footer.png" alt="">
    </div>
    <div class="ft-dis">
      <p>©2020. PCC Student Design Competition 2020 </p>
      <div class="social">
        {# <a href="#"><img src="{{ baseUrl }}/assets/images/navigations/facebook.svg" alt=""></a>
        <a href="#"><img src="{{ baseUrl }}/assets/images/navigations/insta.svg" alt=""></a> #}
      </div>
    </div>
  </footer>
</div>