<div class="middel-sec">
  <footer>
   <div class="wrap-footer">
      <div class="port-logo">
      <img src="{{ baseUrl }}/assets/images/footer/port-footer.png" alt="">
    </div>
    <div class="ft-dis">
      <p>©2020. PCC Student Design Competition 2020 </p>
      <p class="solution">Solution By <a href="https://www.saberion.com/" target="_blank">SABERION</a></p>
      <div class="social">
        {# <a href="#"><img src="{{ baseUrl }}/assets/images/navigations/facebook.svg" alt=""></a>
        <a href="#"><img src="{{ baseUrl }}/assets/images/navigations/insta.svg" alt=""></a> #}
      </div>
    </div>

    <div class="footer-social-link">
      <a class="lgz3" href="#">
        <img src="{{ baseUrl }}/assets/images/navigations/facebook.svg" alt="">
       </a>
      <a class="lgz3" href="#">
        <img src="{{ baseUrl }}/assets/images/navigations/youtube.svg" alt="">
       </a>
      <a class="lgz3" href="#">
        <img src="{{ baseUrl }}/assets/images/navigations/insta.svg" alt="">
       </a>
      <a class="lgz3" href="#">
        <img src="{{ baseUrl }}/assets/images/navigations/linkedin.svg" alt="">
       </a>
      <a class="lgz3" href="#">
        <img src="{{ baseUrl }}/assets/images/navigations/twitter.svg" alt="">
       </a>
    </div>
   </div>
  </footer>
</div>