<div id="home-jury" class="competition-home">
    <div class="jury-home">
        <h2 class="text-uppercase text-center port-text ">THE JURY</h2>
        <div class="jury-images-wrap">
            <div class="jury-item box1-slide" >
                <img class="jury-img-bnner" src="{{ baseUrl }}/assets/images/jury/newimage01.jpg" alt="">
                <div class="jury-content">
                    <span class="text-uppercase posi">Senior Textile Designer & Lecture</span>
                    <h5>Shilanthi Abayagunawardana</h5>
                    {# <span class="qulification">Adam Robinson Design</span> #}
                </div>
                <div class="info">
                    <p class="regular-p">“As you take on this “New World” of opportunity ,be responsible in your freedom , let wisdom of the past navigate you towards clarity, be brave in your creation ,infuse exceptional value and quality which breathes, timelessness !”</p>
                </div>
            </div>
            <div class="jury-item box2-slide">
                <img src="{{ baseUrl }}/assets/images/jury/newimage02.jpg" alt="">
                <div class="jury-content">
                    <span class="text-uppercase posi">Architect</span>
                    <h5>Ruchi Jayanathan</h5>
                    
                </div>
                <div class="info">
                    <p class="regular-p">Sculpture to me - is the art of playing with solid and void, navigating the  nature and soul of the place and materials in use … to provoke a dialogue, an emotion or a spiritual response</p>
                </div>
            </div>
            <div class="jury-item box3-slide">
                <img src="{{ baseUrl }}/assets/images/jury/newimage03.jpg" alt="">
                <div class="jury-content">
                    <span class="text-uppercase posi">Contemporary Artist & Designer</span>
                    <h5>Anoma Wijewardene</h5>
                </div>
                <div class="info">
                    <p class="regular-p">In this cataclysmic and historic moment when public art and statues which are questionable are being torn down it is vital to approach this venture with a deep dive into concept and meaning. Considering the zeitgeist of the moment and also for all time, sharing the universal call for justice and equality, and bringing visual peace and harmony might be a way to approach this opportunity.</p>
                </div>
            </div>
            <div class="jury-item box4-slide">
                <img src="{{ baseUrl }}/assets/images/jury/newimage04.jpg" alt="">
                <div class="jury-content">
                    <span class="text-uppercase posi">Associate Director - Atkins</span>
                    <h5>Xia Yuan</h5>
                </div>
                <div class="info">
                    <p class="regular-p">As a landscape designer, he often uses appropriate public art to create the highlights of the city. Good public art is the spiritual wealth of a city, which can resonate with people in culture, entertainment and sometimes emotion. When evaluating the success or failure of a public art work, apart from its aesthetic value, we should also consider the social value it brings, for example a sense of belonging, a sense of pride of the city, the embodiment of regional cultural characteristics, the transmission of positive values, and even the solution of social problems.</p>
                </div>
            </div>
            
            
        </div>
    </div>
</div>



