<div class="left-menu">
    <div class="logo">
        <a href="{{ baseUrl }}/index.html">
            <img  src="{{ baseUrl }}/assets/images/navigations/logo.svg" alt="">
        </a>
    </div>
    <div class="pcc-sec lg1">
        <span>PCC STUDENT DESIGN COMPETITION 2020</span>
    </div>
    <div class="social-media">
        <div class="text-ani-inner">
            <a class="lgz3" href="https://www.facebook.com/PortCityLK"  target="_blank">
                <img src="{{ baseUrl }}/assets/images/navigations/left-icon-01.svg" alt="">
            </a>
        </div>
        
        <div class="text-ani-inner" target="_blank">
        <a class="lgz3" href="https://www.youtube.com/channel/UCu-RLmtH6Tm1Y_AbmvFuFog/featured">
            <img src="{{ baseUrl }}/assets/images/navigations/left-icon-02.png" alt="">
        </a>
        </div>
        <div class="text-ani-inner" target="_blank">
        <a class="lgz3" href="https://www.instagram.com/portcitycolombo/">
            <img src="{{ baseUrl }}/assets/images/navigations/left-icon-03.svg" alt="">
        </a>
        </div>
        <div class="text-ani-inner" target="_blank">
        <a class="lgz3" href="https://www.linkedin.com/company/port-city-colombo/">
            <img src="{{ baseUrl }}/assets/images/navigations/left-icon-04.svg" alt="">
        </a>
        </div>
        <div class="text-ani-inner" target="_blank">
        <a class="lgz3" href="https://twitter.com/PortCityColombo">
            <img src="{{ baseUrl }}/assets/images/navigations/left-icon-05.svg" alt="">
        </a>
        </div>
        
    </div>
</div>