<div class="mobile-navigation-wrap">
  <div class="mobile-navigation">
    <div class="mobile-logo">
      <a href="{{ baseUrl }}/index.html"> <img  src="{{ baseUrl }}/assets/images/navigations/logo.svg" alt=""> </a>
    </div>
    <div class="mobile-text">
      <span>PORT CITY COLOMBO <br>
      STUDENT DESIGN COMPETITION</span>
    </div>
    <div class="hamberger">
        <img class="ham-ico" src="{{ baseUrl }}/assets/images/navigations/hamberger.svg" alt="">
    </div>
  </div>
</div>