<div class="right-menu">
    <div class="hamberger">
        <img class="ham-ico" src="{{ baseUrl }}/assets/images/navigations/hamberger.svg" alt="">
    </div>

    <div class="slider-bulet">
        <div class="swiper-pagination"></div>
    </div>

    <div class="chat-section">
        
        <div class="text-ani-inner port-right-logo">
            <a href="#">
                <img src="{{ baseUrl }}/assets/images/navigations/port-logo.svg" alt="">
            </a>
            
        </div>

        <!--Start of Tawk.to Script-->
            <script type="text/javascript">
                var Tawk_API = Tawk_API || {},
                    Tawk_LoadStart = new Date();
                (function () {
                    var s1 = document.createElement("script"),
                        s0 = document.getElementsByTagName("script")[0];
                    s1.async = true;
                    s1.src = 'https://embed.tawk.to/5f227d964f3c7f1c910d7fdc/default';
                    s1.charset = 'UTF-8';
                    s1.setAttribute('crossorigin', '*');
                    s0
                        .parentNode
                        .insertBefore(s1, s0);
                })();
            </script>
            <!--End of Tawk.to Script-->
    </div>
</div>