
<div class="menu-wrapper">
    <div class="menu">
        <div class="data">
            <ul>
                <li><a class="nav-data" href="{{ baseUrl }}/index.html">HOME</a></li>
                <li><a class="nav-data" href="{{ baseUrl }}/about.html">ABOUT PCC</a></li>
                <li><a class="nav-data" href="{{ baseUrl }}/competition-one.html">THE COMPETITION</a></li>
                <li><a class="nav-data" href="{{ baseUrl }}/media.html">MEDIA</a></li>
                <li><a class="nav-data" href="{{ baseUrl }}/faq.html">FAQ</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="loader-wrapper">
    <div id="loader">
        <img src="/assets/images/navigations/logo.svg" alt="">
    </div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>





